@charset "utf-8";
/* CSS Document */
/*====================== FONT =======================*/
@font-face {
	font-family:'RobotoRegular';
	src: url('../fonts/RobotoRegular.eot?#iefix') format('eot'),
	url('../fonts/RobotoRegular.woff') format('woff'),
	url('../fonts/RobotoRegular.ttf')  format('truetype');
}
@font-face {
	font-family:'RobotoMedium';
	src: url('../fonts/RobotoMedium.eot?#iefix') format('eot'),
	url('../fonts/RobotoMedium.woff') format('woff'),
	url('../fonts/RobotoMedium.ttf')  format('truetype');
}
@font-face {
	font-family:'RobotoLight';
	src: url('../fonts/RobotoLight.eot?#iefix') format('eot'),
	url('../fonts/RobotoLight.woff') format('woff'),
	url('../fonts/RobotoLight.ttf')  format('truetype');
}
@font-face {
	font-family:'RobotoBold';
	src: url('../fonts/RobotoBold.eot?#iefix') format('eot'),
	url('../fonts/RobotoBold.woff') format('woff'),
	url('../fonts/RobotoBold.ttf')  format('truetype');
}

/*====================== FONT : END =======================*/
/*====================== REJECT =======================*/
#jr_overlay {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: 2147483646;
	position: absolute;
}

#jr_wrap {
	position: fixed;
	width: 100%;
	z-index: 2147483647;
	padding: 0 20px;
	margin: 0;
	top: 10% !important;
}

#jr_inner {
	font-family: 'proximanova_regular';
	font-size: 12px;
	background: #FFF;
	border: 5px solid #F2F2F0;
	color: #666;
	margin: 0 auto;
	height: auto;
	padding: 20px;
	position: relative;
	box-sizing: content-box;
	min-width: 180px !important;
	max-width: 700px !important;
	width: auto !important;
}

#jr_header {
	display: block;
	color: #333;
	padding: 5px;
	padding-bottom: 0;
	margin: 0;
	font-family: 'proximanovaexcn_bold';
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0.5em;
}

#jr_inner p {
	padding: 5px;
	margin: 0;
}

#jr_inner ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#jr_inner ul li {
	cursor: pointer;
	margin: 0 10px 10px 10px;
	padding: 0;
	text-align: center;
	display: inline-block;
}

#jr_inner li a {
	color: #333;
	font-size: 1em;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#jr_inner .jr_icon {
	width: 100px;
	height: 100px;
	margin: 1px auto;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center !important;
	cursor: pointer;
	background-size: cover !important;
}

#jr_close {
	clear: both;
	padding: 0;
	margin: 0;
}

#jr_close a {
	color: #888;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#jr_close a:hover{
	color: #C92020;
}
#jr_close p {
	padding: 10px 0 0 0;
	margin: 0;
}
/*====================== REJECT : END =======================*/
/*====================== GENERAL =======================*/
body{
	background-color: #FFFFFF;
	font-family: "RobotoLight";
	font-size: 16px;

}
.large_container{
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	max-width: 1100px;
}
ul, ol {
    padding-left: 15px;
}
a, a:hover, a:focus{
	outline: none;
	text-decoration: none;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
img{
	max-width: 100%;
}
.underline_text a{
	text-decoration: underline;
}
.section_hed{
	color: #3F3F3F;
	font-size: 72px;
	line-height: 70px;
}
.sub_text{
	color: #333333;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
}
.light_tx{
	font-family: "RobotoLight";
}
h2{
	
	font-family: 'RobotoRegular';
	color: #3F3F3F;
	font-size: 72px;
	margin-top: 0;
}
h3{
	
	font-family: 'RobotoRegular';
	font-size: 30px;
}
h4{
	
	font-family: 'RobotoRegular';
	font-size: 24px;
}
p, li{
	font-family: "RobotoLight";
	font-size: 16px;
}
.sm_paragr p, .sm_paragr li{
	font-family: "RobotoLight";
	font-size: 16px;
}
.sec_padding{
	padding-top: 50px;
	padding-bottom: 50px;
}
.padding_sm{
	padding-top: 30px;
	padding-bottom: 30px;
}
.padding_xs{
	padding-top: 15px;
	padding-bottom: 15px;
}
.padding_xm{
	padding-top: 10px;
	padding-bottom: 10px;
}
.padding_hed{
	padding-bottom: 15px;
}
.padding_hed_md{
	padding-bottom: 30px;
}
.padding_top{
	padding-top: 40px;
}
.marg_boot_md{
	margin-bottom: 20px;
}
.hr_line{
	height: 5px;
	background-color: #3EB6E1;
}

.hover_item_sec.sec_6_blok .hover_img_wrap > img{width: auto !important; height: 185px;}
.float_r{float: right; margin-left: 20px;}
.float_l{float: right; margin-left: 20px;}


.clear{
	clear: both;
}
.img_crk img{
	border-radius: 50%;
}
.full_img img{
	max-width: 350px;
	width: 100%;
	height: auto;
}
.img_wrap_sm > img{
	max-width: 350px;
	width: 100%;
	height: auto;
}
.img_wrap_sx > img{
	max-width: 300px;
	width: 100%;
	height: auto;
}
.img_wrap_xs > img{
	max-width: 250px;
	width: 100%;
	height: auto;
}
.img_cont_left{
	float: left;
	margin: 5px 20px 5px 0;
}
.img_cont_left img{
	display: block;
	margin: 0 auto 10px;
}
.link_botton{
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	padding: 6px 12px;
}
.link_botton:hover{
	background-color: #00BCD4 !important;
	color: #FFFFFF;
}
.link_square{
	display: inline-block;
	color: #00A3D8;
	font-size: 18px;
	text-align: center;
	border: 2px solid #00A3D8;
	border-radius: 10px;
	padding: 20px 30px;
	margin: 15px 0 0;
}
.link_square:hover{
	padding: 10px 20px;
	margin: 25px 10px 10px;
}
.link_square img{
	display: block;
	margin: 0 auto 5px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.link_square:hover img{
	-moz-transform: rotate(90deg) scale(0.7, 0.7);
	-ms-transform: rotate(90deg) scale(0.7, 0.7);
	-webkit-transform: rotate(90deg) scale(0.7, 0.7);
	-o-transform: rotate(90deg) scale(0.7, 0.7);
	transform: rotate(90deg) scale(0.7, 0.7);
}
.border_top{
	border-top: thick solid #00D3E8;
}
.border_bottom{
	border-bottom: thin solid #F1F1F1;
}
.bott_mg{
	margin-bottom: 20px;
}
.style_date{
	font-family: 'RobotoLight';
	font-size: 14px;
	margin-top: 25px;
}
.style_date img{
	margin: -3px 5px 0 0;
}
.fix_marg{
	margin-top: 0 !important;
}
a .descr_img{
color:  #333;
}

span.color_bg_blue{
	color:#ffffff;
	background: #00BFD7;
	display: inline-block;
	padding: 4px 10px;

}
/*====================== GENERAL : END =======================*/
/*====================== BLOK =======================*/
.vid_bg_close{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vid_mod_wrap{
	position: relative;
	margin: 5% auto;
	width: 70%;
	height: 70%;
}

.vid_mod_wrap iframe{
	width: 100%;
	height: 100%;
}



.hover_item_sec{
	display: block;
	margin: 0 auto;
}
.hover_item_sec p{
	margin-left: 5px;
	margin-right: 5px;
}
.hover_img_wrap{
	position: relative;
	width: 100%;
	height: auto;
}
.hover_img_wrap > img{
	text-align: left;
	width: 100%;
	height: auto;
}
.hover_img_wrap .hover_img_link {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(74,214,222,0.75);
	opacity: 0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.cont_link{
	height: 100%;
	padding: 60px 15px 20px 40px;
	width: 50% !important;

}
.cont_but{
	visibility: hidden;
}
.hover_item_sec:hover .hover_img_wrap .hover_img_link {
	opacity: 1;
}
.hover_img_wrap .hover_img_link > a{
	width: 100%;
	height: 100%;
	display: inline-block;
}


.special_blok .hover_item_sec{
	border: thin solid #EDEDED;
	margin-top: 30px;
	max-width: 280px;
}
.special_blok .hover_img_wrap .hover_img_link > a{
	font-family: 'RobotoLight';
	color: #FFFFFF;
	font-size: 24px;
	text-transform: lowercase;
	padding-top: 30%;
}
.special_blok .descr_img{
	color: #333333;
	margin-top: 20px;
}
.special_blok .hr_line{
	margin: 15px 30px;
}
.special_blok .descr_sub_img{
	font-family: 'RobotoLight';
	color: #000000;
	margin-bottom: 15px;
}

.new_blok .hover_item_sec{
	border: thin solid #EDEDED;
	margin-top: 30px;
	max-width: 350px;
}
.new_blok .hover_img_wrap .hover_img_link > a{
	font-family: 'RobotoLight';
	color: #FFFFFF;
	font-size: 24px;
	padding-top: 15%;
}
.new_blok .descr_img{
	font-family: 'RobotoLight';
	color: #000000;
	margin-top: 20px;
}
.new_blok .hr_line{
	margin: 0 15px;
}
.new_blok .descr_info_list{
	margin: 10px 0;
	padding: 0;
}
.new_blok .descr_info_list li{
	display: inline-block;
	font-family: 'RobotoLight';
	color: #000000;
	font-size: 12px;
	padding: 0 5px;
	border-right: 1px solid #E5E5E5;
}
.new_blok .descr_info_list li:last-child{
	border-right-style: none;
}
.new_blok .descr_info_list li a{
	font-family: 'RobotoLight';
	color: #3EB6E1;
	font-size: 12px;
}
.new_blok .descr_info_list li a:hover{
	color: #00D5E9;
}

.review_wrap{
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
}
.review_wrap .message{
	padding: 20px 0;
}
.review_wrap .message_inf{
	margin: 0;
	padding: 0 0 20px;
	list-style-type: none;
	position: relative;
	width: 100%;
}
.review_wrap .message_inf li{
	display: inline-block;
	font-family: 'RobotoLight';
	font-size: 14px;
}
.review_wrap .message_date{
	position: absolute;
	right: 15px;
	top: 3px;
}
.review_wrap .message_date img{
	margin: -3px 5px 0 0;
}
.review_wrap .hr_line{
	width: 80%;
	max-width: 240px;
	margin-bottom: 20px;
}
.review_wrap .answer{
	padding: 0 15px;
}


.img_link_cr .hover_img_wrap{
	border-radius: 50%;
	width: 100%;
	max-width: 200px;
	height: auto;
	margin: 30px auto 0;
}
.img_link_cr .hover_img_wrap img, .img_link_cr .hover_img_link{
	border-radius: 50%;
}
.img_link_cr .hover_img_wrap img{
	width: 100%;
	height: auto;
}
.img_link_cr .hover_img_link a{
	font-family: 'RobotoLight';
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	padding-top: 35%;
	text-decoration: underline;
	line-height: 24px;
}


.list_cerc{
	padding-left: 18px;
	list-style-type: none;
}
.list_cerc > li{
	color: #000000;
	list-style-type: none;
	border-bottom: thin solid #F1F1F1;
	padding: 8px 0;
	font-size: 18px;
}
.list_cerc > li:last-child{
	border-bottom-style: none;
}
.list_style{
	display: inline-block;
	width: 8px;
	height: 8px;
	border: thin solid #00A4D8;
	border-radius: 50%;
	margin-left: -18px;
	margin-right: 10px;
}
.list_cerc a{
	color: #000000;
}
.list_cerc a:hover{
	color: #00AAC8;
}


.list_md_blok{
	padding-top: 50px;
	padding-bottom: 50px;
}
.list_sm_blok{
	padding-top: 30px;
	padding-bottom: 30px;
}
.list_md_blok h4, .list_sm_blok h4{
	border-bottom: medium solid #00D3E8;
	padding-bottom: 8px;
	display: inline-block;
}
.list_md_blok img, .list_sm_blok img{
	margin: 15px 0 20px;
	width: 100%;
	height: auto;
	max-width: 200px;
}
.list_md_blok h4 a, .list_sm_blok h4 a{
	color: #0087B3;
}
.list_md_blok h4 a:hover, .list_sm_blok h4 a:hover{
	color: #00D3E8;
}

.full_img{
	border: thick solid #E1E1E1;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
}
.full_img img{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.full_img:hover img{
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-webkit-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.full_img_cont{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(81, 81, 81, 0.7);
	z-index: 9999;
	left: 0;
	top: 0;
}
.full_img_cont .control_wrap{
	height: 100%;
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
.full_img_cont .wrap_full_img{
	max-width: 100%;
	max-height: 90%;
	position: relative;
	border: thick solid #E1E1E1;
	border-radius: 5px;
	background-color: #515151;
	overflow-y: auto;
	overflow-x: hidden;
}
.full_img_cont .wrap_full_img img{
	width: 100%;
	max-width: 1200px;
	height: auto;
}
.img_close{
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 15px;
	font-size: 40px;
	color: #333333;
	opacity: 0.4;
	text-transform: lowercase;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.wrap_full_img .img_close{
	color: #C11B1B;
}
.img_close:hover{
	opacity: 1;
}
.img_next, .img_prev{
	position: absolute;
	top: 50%;
	margin-top: -15px;
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #00A3D8;
	background-position: center center;
	background-size: 18px auto;
	background-repeat: no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.img_next:hover, .img_prev:hover{
	background-color: #00BFD7;
	opacity: 1;
}
.img_next{
	right: -50px;
	background-image: url(../img/icon/arrow_next.png);
}
.img_prev{
	left: -50px;
	background-image: url(../img/icon/arrow_prew.png);
}


/*====================== BLOK : END =======================*/
/*====================== HEDER =======================*/
.large_container{
	padding: 5px 15px;
	position: relative;
}
.large_container .col-xs-12{
	padding: 0;
}
.logo_olga{
	position: absolute;
	left: 5%;
	display: inline-block;
}
.wrap_coll{
	position: absolute;
	right: 5%;
	z-index: 200;
}
.heder_soc_link{
	position: absolute;
	top: 5px;
	padding: 0;
	left: 65px;
}
.heder_soc_link li{
	display: inline-block;
	margin: 0 3px;
}
.heder_soc_link li img{
	width: 18px;
	height: auto;
	border-radius: 50%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.heder_soc_link li:hover img{
	background-color: #00BBD3;
}
.phone{
	color: #010101;
	font-size: 30px;
	margin-top: 10px;
}
.phone img{
	margin-right: 5px;
}
.link_coll .modal_show{
	font-family:'RobotoLight';
	color: #010101;
	font-size: 18px;
	border-bottom: thin dashed #000000;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.link_coll .modal_show:hover{
	color: #00A7C4;
	border-bottom: thin dashed #00A7C4;
}
.heder_adr{
	color: #010101;
	font-size: 18px;
	text-transform: uppercase;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*======= NAV MENU ==========*/
li.dropdown:hover > .dropdown-menu{
	display: block;
}
li.dropdown-submenu:hover > .dropdown-menu{
	display: block;
}




#heder_menu{
	padding: 0;
}
header .navbar{
	display: inline-block;
}
#heder_menu .menu_li{
	padding: 5px 0 !important;
	margin: 0 !important;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#heder_menu .menu_li > a{
	font-family: 'RobotoMedium';
	color: #010101;
	font-size: 15px;
	text-transform: uppercase;
	padding: 0 8px !important;
	border-right: 1px solid #F1F1F1;
	border-radius: 0 !important;
	background-color: rgba(0,0,0,0) !important;

}
#heder_menu .menu_li:last-child > a, #heder_menu .menu_li:last-child > a:hover {
	border-right: none !important;
}
#heder_menu .menu_li:hover > a{
	color: #FFFFFF;
	border-right: 1px solid #00BFD7;
}
#heder_menu .menu_li:hover, #heder_menu .menu_list .active, #heder_menu .menu_list .active > a{
	background-color: #00BFD7 !important;
	color: #FFFFFF;
}
#heder_menu .menu_li:hover, #heder_menu .menu_list .active{
	-webkit-box-shadow: 0px 1px 2px 0px #393939;
	box-shadow: 0px 1px 2px 0px #393939;
}
#heder_menu .menu_list .active > a{
	border-right: 1px solid #00BFD7;
}



#heder_menu .menu_about .menu_li > a{
	background-color: #00BFD7 !important;
	color: #FFFFFF;
	border-right: 1px solid #00BFD7;
}
#heder_menu .menu_about .menu_li{
	background-color: #00BFD7 !important;
	-webkit-box-shadow: 0px 1px 2px 0px #393939;
	box-shadow: 0px 1px 2px 0px #393939;
}
#heder_menu .menu_about .menu_li:hover, #heder_menu .menu_about .menu_li:hover > a, #heder_menu .menu_about .active, #heder_menu .menu_about .active > a{
	background-color: #00A3D8 !important;
}


.menu_drop_list{
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: #00BFD7;
	-webkit-box-shadow: 0px 1px 2px 0px #393939;
	box-shadow: 0px 1px 2px 0px #393939;
}
.menu_drop_li{
	border-bottom: thin solid #00AAC8;
}
.menu_drop_li > a {
	font-family: 'RobotoBold';
	color: #FFFFFF !important;
	text-transform: uppercase;
	font-size: 12px;
	padding: 6px 14px 6px 10px!important;
}
.menu_sub_list{
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: #00AAC8;
	-webkit-box-shadow: 0px 1px 2px 0px #393939;
	box-shadow: 0px 1px 2px 0px #393939;
}
.menu_sub_li{
	border-bottom: thin solid #00B9D1;
}
.menu_sub_li > a{
	font-family: 'RobotoBold';
	color: #FFFFFF !important;
	text-transform: uppercase;
	font-size: 12px;
	padding: 8px 14px 8px 14px!important;
}
.menu_sub_li > a:hover{
	color: #555555 !important;
}
.navbar-header{
	background-color: #00AAC8;
	width: 100%;
}
.navbar-header .navbar-toggle{
	padding: 6px 10px;
}
/*======= NAV MENU : END ==========*/
/*======= HEDER SLIDER  ==========*/
#heder_slider{
	position: relative;
}
.bord_slider{
	border-bottom: 5px solid #0092A8;
	width: 100%;
}
#heder_slider .slide_item{
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#heder_slider .owl-dots{
	text-align: center;
	position: absolute;
	bottom: 15px;
	width: 100%;
}
#heder_slider .owl-dots .active{
	border: 2px solid #00BCD5;
}
#heder_slider .owl-dot{
	width: 16px;
	height: 16px;
	background-color: #00BCD5;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	display: inline-block;
	margin: 4px;
}
#heder_slider .slide_content{
	background-color: rgba(229,229,229,0.75);
	padding: 15px 55px 15px 25px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 50px;
	position: absolute;
	right: 15%;
	max-width: 90%;
}
#heder_slider .slide_content h3{
	font-family: 'RobotoMedium';
	color: #000000;
	font-size: 34px;
	text-transform: uppercase;
}
#heder_slider .slide_content ul{
	margin: 25px 0 10px;
	padding-left: 20px;
	list-style-type: none;
}
#heder_slider .slide_content li{
	padding: 5px 0;
}
#heder_slider .slide_content li > a{
	color: #006799;
	text-transform: uppercase;
	text-decoration: underline;
	vertical-align: middle;
}
#heder_slider .slide_content li{
	color: #006799;
	text-transform: uppercase;
}
#heder_slider .slide_content li > a:hover{
	color: #00A9C5;
}
#heder_slider .list_style{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #00A9C5;
	border-radius: 50%;
	margin-left: -20px;
	margin-right: 10px;
}
#heder_slider .first_slide_class .slide_content{
	right: 45% !important;
}
/*======= HEDER SLIDER : END ==========*/
/*======= STATIC SLIDER ==========*/
#static_slider {
	height: 200px;
}
#static_slider .slide_item{
	height: 200px;
}
#static_slider .slide_item{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 220px;
}
#static_slider .container{
	position: relative;
}
#static_slider .slide_content{
	background-color: rgba(229,229,229,0.75);
	padding: 5px 20px;
	width: 80%;
	max-width: 350px;
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 0px;
}
#static_slider .slide_content h3{
	font-family: 'RobotoMedium';
	color: #000000;
	font-size: 18px;
	text-transform: uppercase;
}
#static_slider .slide_content p{
	font-size: 14px;
}

/*======= STATIC SLIDER : END ==========*/

/*====================== HEDER : END =======================*/

/*====================== BODY =======================*/
/*======= SEC_1 ==========*/
.sec_tabs{
	border-bottom: thin solid #F1F1F1;
	padding-top: 50px;
	padding-bottom: 10px;
}
.tabs_content{
	display: inline-block;
	border-style: none !important;
	margin: 5px 0 20px;
}
.tabs_content > li > a{
	color: #000000;
	font-size: 16px;
}
.tabs_content > li > a, .tabs_content > li.active > a, .tabs_content > li.active > a:focus{
	border: thin solid #EBEBEB;
	text-transform: uppercase;
	margin: 3px;
	padding: 4px 12px;
	border-radius: 0;
}
.tabs_content > li.active > a, .tabs_content > li.active > a:focus{
	color: #FFFFFF;
	background-color: #00A4D8;
}
.sec_tabs .tab-pane{
	text-align: left;
}
.tab-pane .tab_img > img{
	border-radius: 50%;
	margin-top: 30px;
}
.tab-pane h3{
	color: #000000;
	margin-bottom: 20px;
}
.tab-pane p{
	color: #000000;
	margin-bottom: 15px;
}
.sub_sec_1{
	padding-top: 40px;
	padding-bottom: 40px;
}
.sub_sec_1 h4{
	color: #000000;
}
.sub_sec_1 .item_sec{
	margin-top: 40px;
}
.sub_sec_1 .img_wrap{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
}
.sub_sec_1 .img_wrap > img{
	width: 100px;
	height: 100px;
}
.sub_sec_1 .img_link{
	width: 100px;
	height: 100px;
	background-color: rgba(0,138,165,0.70);
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.sub_sec_1 .img_link > a{
	display: inline-block;
	margin-top: 25px;
}
.sub_sec_1 .item_sec:hover .img_wrap .img_link{
	opacity: 1;
}
.sub_sec_1 .item_sec .descr_img{
	font-family: 'RobotoBold';
	color: #000000;
	text-transform: uppercase;
	margin-top: 15px;
}
/*======= SEC_1 : END ==========*/
/*======= SEC_2 ==========*/
.sec_2{
	padding: 60px 0;
	background-image: url(../img/bg/bg_body.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.sec_2 .item_sec{
	margin-top: 40px;
	display: inline-block;
}
.img_wrap{
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
}
.sec_2 .img_wrap > img{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 0;
	left: 0;
	border-radius: 50%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.sec_2 .item_sec:hover > .img_wrap img{
	width: 88px;
	height: 88px;
	left: 6px;
	top: 6px;
}
.sec_2 .item_sec .descr_img{
	font-family: 'RobotoBold';
	color: #3F3F3F;
	text-transform: uppercase;
	margin-top: 20px;
	text-decoration: underline;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.sec_2 .item_sec:hover .descr_img{
	color: #00BCD5;
}
/*======= SLIDER CARUSEL ==========*/
.sec_2_sub{
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #00A3D8;
}
.sec_2_sub h4{
	color: #FFFFFF;
	font-size: 24px;
}
#slider_carusel{
	padding: 50px 50px 0;
	position: relative;
}
#slider_carusel .item > img{
	width: auto;
	height: auto;
	display: inline-block;
	margin-bottom: 15px;
}
#slider_carusel .slide_descr{
	font-family: 'RobotoBold';
	color: #FFFFFF;
	text-transform: uppercase;
	display: block;
	margin-bottom: 20px;
}
#slider_carusel .slide_sub_text{
	font-family: 'RobotoLight';
	color: #CBEFFF;
	font-size: 16px;
}
#slider_carusel .owl-prev, #slider_carusel .owl-next{
	position: absolute;
	top: 120px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#slider_carusel .owl-prev{
	left: -5px;
	background-image: url(../img/icon/arrow_left.png);
}
#slider_carusel .owl-next{
	right: -5px;
	background-image: url(../img/icon/arrow_rightt.png);
}
#slider_carusel .owl-prev:hover, #slider_carusel .owl-next:hover{
	-moz-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-o-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

/*======= SLIDER CARUSEL: END ==========*/
/*======= SEC_2 : END ==========*/
/*======= SEC_3 ==========*/
.sec_3{
	padding-top: 50px;
	padding-bottom: 50px;
}
.sec_3 .link_botton{
	margin: 35px 6px 20px;
	background-color: #00A4D8;
}
/*======= SEC_3 : END ==========*/
/*======= SEC_4 ==========*/
.sec_4{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: thick solid #FF6A00;
	border-top: thick solid #FF6A00;
}
.sec_4 .hover_item_sec{
	background-color: #FF6A00;
	border: medium solid #FF6A00;
	margin-top: 30px;
	max-width: 350px;
}
.sec_4 .hover_img_wrap .hover_img_link > a{
	font-family: 'RobotoLight';
	color: #FFFFFF;
	font-size: 24px;
	padding-top: 15%;
}
.sec_4 .descr_img{
	color: #000000;
	margin-top: 30px;
	margin-bottom: 20px;
}
.sec_4 .link_botton{
	margin: 55px 6px 40px;
	background-color: #FF6A00;
}
/*======= SEC_4 : END ==========*/
/*======= SEC_5 ==========*/
.sec_5{
	padding-top: 50px;
	padding-bottom: 100px;
	background-image: url(../img/bg/bg_body_2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.sec_5 .section_hed{
	color: #0F9CCF;
}
.sec_5 .sub_text{
	color: #FFFFFF;
}
.sec_5 .descr_text{
	color: #FFFFFF;
}
.sec_5 .link_botton{
	margin: 35px 6px 20px;
	background-color: #00A4D8;
}
/*======= SEC_5 : END ==========*/
/*======= SEC_6 ==========*/
.sec_6{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: thick solid #00D5E9;
	border-top: thick solid #00D5E9;
}
.sec_6 .link_botton{
	margin: 35px 6px 20px;
	background-color: #00A4D8;
}
/*======= SEC_6 : END ==========*/
/*======= SEC_7 ==========*/
.sec_7{
	margin-top: 40px;
	margin-bottom: 80px;
}
.sec_7 .section_hed{
	margin-bottom: 30px;
}
.sec_7 p{
	margin-bottom: 10px;
	color: #000000;
}
.sec_7 .cont_wrap{
	margin-top: 120px;
	width: 100%;
	max-width: 350px;
	height: auto;
	display: inline-block;
}
.sec_7 .cont_wrap img{
	width: 100%;
	height: auto;
}
/*======= SEC_7 : END ==========*/
/*======= SEC_8 ==========*/
.sec_8 .hover_item_sec{
	width: 100%;
}
.sec_8 .hover_img_wrap{
	height: 730px;
}
.sec_8 .hover_img_link{
	background-image: url(../img/bg/bg_map.png);
	background-repeat: repeat;
	background-color: rgba(132,132,132,0.00);
	opacity: 1;
}
.sec_8 .section_hed{
	color: #00A3D8;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
.sec_8 .heder_contact_text{
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 30px;
}
.sec_8 .contact_text{
	font-family: 'RobotoLight';
	color: #FFFFFF;
	font-size: 24px;
	text-transform: uppercase;
}
.sec_8 .link_cont{
	display: inline-block;
	padding: 12px 40px;
	font-family: 'RobotoLight';
	margin-top: 60px;
}
.sec_8 .blue{
	color: #FFFFFF;
	background-color: #00A3D8;
}
.sec_8 .white{
	color: #000000;
	background-color: #FFFFFF;
}
.sec_8 .link_cont:hover{
	background-color: #00BFD7;
}
.map_boot_wrap{
	display: inline-block;
	position: absolute;
	cursor: pointer;
	margin-left: -54px;
	top: 560px;
	left: 50%;
	padding: 5px 10px;
	border-radius: 5px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.map_boot_bor{
	width: 30px;
	height: 14px;
	border: thin solid #FFFFFF;
	border-radius: 50px;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	margin-bottom: -2px;
}
.map_boot_cer{
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	background-color: #38A9F4;
	position: absolute;
	top: 1px;
	left: 2px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.map_boot_text{
	font-family: 'RobotoBold';
	color: #FFFFFF;
	font-size: 14px;
	text-transform: uppercase;
}
/*======= SEC_8 : END ==========*/
/*====================== BODY : END =======================*/
/*====================== FOOTER =======================*/
footer{
	padding-top: 30px;
	padding-bottom: 30px;
}
footer .copyrite{
	font-family: 'RobotoLight';
	color: #000000;
	font-size: 16px;
	text-align: center;
}
footer .futer_soc_link{
	padding: 0;
	list-style-type: none;
	margin-left: 15px;
}
footer .futer_soc_link li{
	display: inline-block;
	margin: 0 3px;
}
footer .futer_soc_link li a > img{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
footer .futer_soc_link li a > img:hover{
	background-color: #00BBD3;
}
footer .logo_aiti{
	float: right;
	margin-top: -10px;
	margin-right: 15px;
}
/*====================== FOOTER : END =======================*/

/*====================== PAGES =======================*/
/*======= TEMPLE ==========*/
.top_section{
	position: relative;
	height: 220px;
}
.bredcr_wrap{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	z-index: 100;
	padding: 0 15px;
}
.bredcr_bg{
	width: 100%;
	max-width: 1100px;
	margin: 0px auto;
	background-color: #FFF;
}
.breadcrum{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0 20px;
	background-color: #FFFFFF;
}

.breadcrum li{
	display: inline-block;
	font-size: 16px;
	color: #909090;
}
.breadcrum li a{
	color: #00BFD7;
	text-decoration: underline;
}
.breadcrum li a:hover{
	color: #00A3D8;
}
.breadcrum .breadcrum_beak{
	float: right;
}
.breadcrum .breadcrum_beak a{
	text-decoration: none;
	color: #A01A1C;
}
.breadcrum .sub_btn{
	position: relative;
}
.breadcrum .sub_list{
	position: absolute;
	top: 100%;
	left: 2px;
	z-index: 200;
	margin: 0;
	padding: 10px 15px;
	width: 180px;
	background-color: #F7F7F7;
	border: thin solid #00BFD7;
}
.breadcrum .sub_list li{
	margin: 5px 0;
	display: block;
}
.sec_hed{
	border-bottom: thin solid #F1F1F1;
}
.relative_wrap{
	position: relative;
}
.link_top{
	position: absolute;
	left: 0px;
	bottom: -8px;
	z-index: 200;
	display: inline-block;
}
.link_top a{
	display: inline-block;
	background-color: #00A3D8;
	padding: 28px 25px;
}
.link_top a:hover{
	background-color: #00AAC8;
}
.pages_footer{
	background-color: #00AAC8;
}
.pages_footer .link_logo_aiti{
	background-color: #FFFFFF;
	display: inline-block;
	padding: 35px 40px 38px 50px;
	float: right;
	margin: -30px 0;
}
.footer_info{
	background-color: #F2F2F2;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.wripper_text{
	display: inline-block;
	text-align: left;
}
.footer_info .heder_contact_text{
	text-transform: uppercase;
}
.footer_info .contact_text{
	font-family: 'RobotoLight';
	font-size: 36px;
	text-transform: uppercase;
}
.footer_info .link_cont{
	display: inline-block;
	padding: 12px 40px;
	font-family: 'RobotoLight';
	margin: 25px 1px 5px;
	z-index: 9999;
}
.footer_info .blue{
	color: #FFFFFF;
	background-color: #00A3D8;
}
.footer_info .white{
	color: #000000;
	background-color: #FFFFFF;
}
.footer_info .link_cont:hover{
	background-color: #00BFD7;
}
.pages_footer .futer_soc_link li a > img:hover{
	background-color: #ffffff;
}
.sec_seo{
	margin-top: 100px;
	width: 100%;
	max-width: 350px;
	height: auto;
	display: inline-block;
}
.sec_seo img{
	width: 100%;
	height: auto;
}

/*======= NAV FOOTER ==========*/
.wrap_footer_nav{
	background-color: #00BFD7;
	padding: 12px 0 8px;
}
.wrap_footer_nav .navbar{
	min-height: 0px;
	margin: 0;
	padding: 0;
}
#footer_menu .menu_list{
	display: inline-block;
	margin: 0 auto;
}
#footer_menu .menu_li{
	padding: 5px 8px !important;
	margin: 0 !important;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#footer_menu .menu_li > a{
	font-family: 'RobotoMedium';
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	padding: 0 !important;
	border-radius: 0 !important;
}
#footer_menu .menu_li:hover > a, #footer_menu .menu_list .active > a{
	border-bottom: thin solid #FFFFFF;
	background: none !important;
}
#footer_menu .menu_li:hover,#footer_menu .menu_list .active{
	-webkit-box-shadow: none;
	box-shadow: none;
}
#footer_menu .menu_list .active > a{
	border-right: none;
}
.navbar-footer .navbar-toggle{
	padding: 0 10px;
}
#footer_menu .dropdown-menu{
	bottom: 100%;
	top: auto;
}
/*======= NAV FOOTER : END ==========*/
/*======= SLIDER ==========*/
#page_slider{
	position: relative;
	max-width: 900px;
	margin: 0 auto;
}
#page_slider .slide_item{
	height: 400px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 50px;
	margin-right: 50px;
}
#page_slider .slide_content{
	background-color: rgba(229,229,229,0.75);
	padding: 10px 55px 10px 25px;
	display: inline-block;
	margin-top: 15px;
	margin-right: 50px;
	position: absolute;
	right: 10%;
	max-width: 90%;
}
#page_slider .slide_content h3{
	font-family: 'RobotoMedium';
	color: #000000;
	text-transform: uppercase;
	font-size: 24px;
}
#page_slider .slide_content ul{
	margin: 10px 0 10px;
	padding-left: 20px;
	list-style-type: none;
}
#page_slider .slide_content li{
	padding: 3px 0;
}
#page_slider .slide_content li > a{
	color: #006799;
	text-transform: uppercase;
	text-decoration: underline;
	vertical-align: middle;
	font-size: 14px;
}
#page_slider .slide_content li{
	color: #006799;
	font-size: 14px;
	text-transform: uppercase;
}
#page_slider .slide_content li > a:hover{
	color: #00A9C5;
}
#page_slider .list_style{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #00A9C5;
	border-radius: 50%;
	margin-left: -20px;
	margin-right: 10px;
}
#page_slider .owl-prev, #page_slider .owl-next{
	position: absolute;
	top: 45%;
	cursor: pointer;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #00A3D8;
	background-position: center center;
	background-size: 18px auto;
	background-repeat: no-repeat;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;

}
#page_slider .owl-prev:hover, #page_slider .owl-next:hover{
	background-color: #00BFD7;
	opacity: 1;
}
#page_slider .owl-prev{
	left: 5px;
	background-image: url(../img/icon/arrow_prew.png);
}
#page_slider .owl-next{
	right: 5px;
	background-image: url(../img/icon/arrow_next.png);
}


.crusel_page {
	padding: 15px 50px 0px !important;
}
.crusel_page .item_sec{
	display: inline-block;
}
.crusel_page .img_wrap{
	width: 65px;
	height: 65px;
	display: inline-block;
}
.crusel_page .img_wrap > img{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.crusel_page .item_sec:hover > .img_wrap img{
	-moz-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	-webkit-transform: scale(0.8, 0.8);
	-o-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
}
.crusel_page .item_sec .descr_img{
	font-family: 'RobotoBold';
	color: #3F3F3F;
	text-transform: uppercase;
	margin-top: 8px;
	text-decoration: underline;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	font-size: 12px;
	margin-bottom: 0px;
}
.crusel_page .item_sec:hover .descr_img{
	color: #00BCD5;
}
.crusel_page .owl-prev, .crusel_page .owl-next{
	top: 50% !important;
	background-color: #00A3D8;
	border-radius: 50%;
	margin-top: -20px;
}

.crusel_page .owl-prev:hover, .crusel_page .owl-next:hover{
	background-color: #00BFD7;
}

/*======= SLIDER : END ==========*/
/*======= FORM ==========*/
.form-group{
	margin-bottom: 20px;
}
.form_wrap h3{
	font-family: 'RobotoMedium';
	font-size: 18px;
	text-transform: uppercase;
}
.form_wrap p{
	font-family: 'RobotoLight';
	font-size: 18px;
}
.form_label{
	font-family: 'RobotoLight';
	display: block;
	font-size: 16px;
	color: #666666;
	text-align: left;
	margin: 0;
	font-weight: normal;
}
.form_label span{
	color: #C52015;
}
input, textarea, select {
	outline: none;
}
.medium_input{
	width: 80%;
	font-size: 16px;
	height: 35px;
	padding-left: 10px;
	border: thin solid #DDDDDD;
	background-color: #FCFCFC;
}
.aria_input{
	width: 100%;
	height: 250px;
	font-size: 16px;
	padding: 10px;
	border: thin solid #DDDDDD;
	background-color: #FCFCFC;
}
.form_comment .aria_input, .form_quest .aria_input{
	height: 100px;
}
.select{
	width: 80%;
	font-size: 16px;
	height: 40px;
	border: thin solid #DDDDDD;
	background-color: #FCFCFC;
	color: #909090;
	cursor: pointer;
	text-indent: 5px;
}
.select option{
	padding: 6px 0 6px 10px;
	border-bottom: thin solid #DDDDDD;
	color: #000000;
}
.medium_input:focus, .aria_input:focus{
	background-color: #FFFFFF;
}
label.error, .form_input label.error{
	font-size: 0.8em;
	color: #C52015;
	font-weight: bold;
	display: block;
	margin-left: 5px;
	text-align: left;
}
input.error, textarea.error{
	border: thin solid #C52015;
}
input.valid, textarea.valid{
	border: thin solid #ABD07E;
}
#submit{
	outline: none;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	margin-bottom: 30px;
	background-color: #00A3D8;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.form_inp_btn{
	outline: none;
	display: inline-block;
	padding: 6px 12px;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 10px 20px 15px 0;
	border: none;
	background-color: #00A3D8;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#submit:hover, .form_inp_btn:hover{
	background-color: #00BFD7;
}

.form_wrap{
	width: 400px;
	position: absolute;
	background-color: #FFFFFF;
	border: 5px solid #F2F2F0;
	left: 50%;
	top: 10%;
	margin-left: -200px;
	padding: 10px 30px;
}
.wrap_inp{
	margin: 10px 0;
}
.modal_blok{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(81,81,81,0.70);
	z-index: 9999;
	left: 1px;
	top: 1px;
}
.modal_close{
	position: absolute;
	right: 15px;
	top: 1px;
	color: #666666;
	font-size: 24px;
	cursor: pointer;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.modal_close:hover{
	color: #00BFD7;
}
.norml_form .medium_input, .norml_form .aria_input, .select{
	width: 100%;
}
.norml_form{
	width: 500px;
	max-width: 90%;
	margin: 0 auto;
}
/*======= FORM : END ==========*/
/*======= PAGIN ==========*/
.pagin_list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.holder {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}
.holder a {
	font-size: 14px;
	cursor: pointer;
	margin: 0 1px;
	color: #888;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 25px;
	border: 2px solid #01A3D8;
}
.holder a.jp-previous, .holder a.jp-next{
	background-color: #00A3D8;
	background-position: center center;
	background-size: 18px auto;
	background-repeat: no-repeat;
	margin-bottom: -10px;
}
.holder a.jp-previous{
	background-image: url(../img/icon/arrow_prew.png);
}
.holder a.jp-next {
	background-image: url(../img/icon/arrow_next.png);
}
.holder a.jp-current{
	background-color: #01A3D8;
	color: #FFFFFF;
}
.holder a.jp-disabled, .holder a.jp-disabled:hover {
	background-color: #C3C3C3;
	border-color:  #C3C3C3;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
	cursor:default;
}
/*======= PAGIN : END ==========*/
/*======= TEMPLE : END ==========*/
/*adult*/
.sec_blok_uslugi{
	border: thin solid #D4D4D4;
	padding-bottom: 20px;
	margin-top: 25px;
	max-width: 260px;
}
.sec_blok_uslugi .hover_img_link a{
	font-family: "RobotoLight";
	color: #FFF;
	font-size: 24px;
	padding-top: 40%;
}
.blok_list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.sec_blok_uslugi .hr_line{
	margin: 0 20% 25px;
}
.sec_blok_uslugi .blok_list a{
	color: #00BFD7;
	font-size: 14px;
	padding: 5px;
	text-decoration: underline;
}
.sec_blok_uslugi .blok_list a:hover{
	color: #00A3D8;
}

/*pediat*/
.ped_den_hed{
	background-image: url(../img/bg/pediatric_den_bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 50px;
}
.ped_den_hed .item_sec{
	display: inline-block;
	width: 100%;
	max-width: 250px;
	margin-top: 25px;
	height: 230px;
}
.ped_den_hed .item_sec, .ped_den_hed .descr_img, .ped_den_hed .img_wrap, .ped_den_hed .img_wrap img{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.ped_den_hed .img_wrap{
	width: 100%;
	max-width: 102px;
	background-color: #FFFFFF;
	border-radius: 50%;
	overflow: hidden;
	height: auto;
}
.ped_den_hed .img_wrap img{
	width: 100%;
	height: auto;
}
.ped_den_hed .item_sec .descr_img{
	font-family: 'RobotoBold';
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 20px;
	text-decoration: underline;
}
.ped_den_hed .item_sec:hover .descr_img{
	color: #00AAC8;
}
.ped_den_hed .item_sec:hover .img_wrap{
	background-color: #00AAC8;
}
.ped_den_hed .item_sec:hover .img_wrap img{
	width: 80%;
	height: auto;
	margin: 10%;
}
.ped_den_vid{
	margin: 20px 0;
	max-width: 500px;
	width: 100%;
	border: thick solid #00BFD7;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
}
.ped_den_vid img{
	width: 100%;
	height: auto;
}

/*prise*/
.page_prise .tabs_content{
	margin-bottom: 0;
}
.page_prise h3{
	margin-top: 60px;
	margin-bottom: 40px;
}
.table{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 700px;
}
.table {
	background-color: #FFF1D6;
	text-align: left;
}
.table tr, .table th, .table td{
	border: none !important;
	padding: 10px 15px !important;
}
.table td{
	font-size: 14px;
}
.table tr:nth-child(even){
	background-color: #FFECCA;
}
.color_tab tr:nth-child(even){
	background-color: #FFC45B;
}
.table .table_head{
	font-size: 16px;
	background-color: #00A3D8;
	color: #FFFFFF;
}
.table .l_col{
	width: 70%;
}
.table .r_col{
	width: 30%;
}

/*quest*/
.form_bg{
	background-color: #F1F1F1;
}
.accordion_wrap{
	margin: 40px auto 60px;
	width: 700px;
	max-width: 100%;
}
.panel-default > .panel-heading {
	color: #00AAC8;
	background-color: #FFF;
	border-bottom: 3px solid #00AAC8;
}
.panel-default {
	border: none;
}
.panel-body {
	background-color: #F9F9F9;
}
.panel {
	box-shadow: none;
}

/*review*/
.sec_review{
	border-bottom: thin solid #F1F1F1;
	padding-left: 15px;
	padding-right: 15px;
}
.review_holder{
	padding-bottom: 30px;
}
/*product*/
.product_link{
	margin: 50px 6px 0px;
	background-color: #00A4D8;
}
.sec_shop{
	border-top: thin solid #F1F1F1;
}
/*dental_care*/
.link_write, .link_gift{
	border-radius: 5px;
	margin-top: 25px;
}
.link_write img, .link_gift img{
	margin-right: 5px;
}
.link_write{
	background-color: #00A3D8;
	-webkit-box-shadow: 0px 1px 0px 1px #006D91;
	box-shadow: 0px 1px 0px 1px #006D91;
}
.link_gift{
	background-color: #FF6A00;
	-webkit-box-shadow: 0px 1px 0px 1px #B14900;
	box-shadow: 0px 1px 0px 1px #B14900;
}
.link_write:hover, .link_gift:hover{
	-webkit-box-shadow: 0px 1px 0px 1px #007381;
	box-shadow: 0px 1px 0px 1px #007381;
}
.link_gift img{
	margin-right: 5px;
}

.advantag{
	border: thin solid #EDEDED;
	padding: 30px 20px 20px;
	width: 100%;
	max-width: 320px;
	margin: 20px auto 10px;
}
.advantag .hr_line{
	width: 70%;
	margin: 20px auto;
}
.advantag .des_paragr{
	font-family: "RobotoLight";
	font-size: 12px;
}
/*====================== PAGES : END =======================*/
/*NAV*/

@media (min-width: 1470px) and (max-width: 1780px) {
	#heder_menu .menu_li > a{
		font-size: 12px;
	}
}
@media (min-width: 1020px) and (max-width: 1470px) {
	header .navbar{
		margin-top: 55px;
	}
	#heder_menu .menu_li > a{
		font-size: 14px;
	}
	.heder_adr{
		text-align: center;
	}
	#footer_menu .menu_li > a{
		font-size: 12px;
	}
}
@media (min-width: 580px) and (max-width: 1020px) {
	#heder_menu .menu_li > a{
		font-size: 11px;
		padding: 0 5px !important;
	}
	.menu_drop_li > a, .menu_sub_li > a{
		font-size: 11px;
	}
	header .navbar{
		margin-top: 90px;
	}
	#footer_menu .menu_li{
		padding: 0 3px !important;
	}
	#footer_menu .menu_li > a{
		font-size: 11px;
	}
}
/*====================== MEDIA =======================*/
@media (min-width: 992px) and (max-width: 1199px) {
	.hed_special{
		font-size: 62px;
	}
	.sec_8 .section_hed{
		margin-bottom: 40px;
	}
	.sec_8 .heder_contact_text{
		font-size: 14px;
	}
	.sec_8 .contact_text{

	}
	.sec_8 .link_cont{
		padding: 8px 30px;
		margin-top: 60px;
	}
	.footer_info .heder_contact_text{
		font-size: 20px;
	}
	.footer_info .contact_text{
		font-size: 30px;
	}
	.footer_info .link_cont{
		display: inline-block;
		padding: 12px 30px;
		font-family: 'RobotoLight';
		margin-top: 25px;
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	.hed_special{
		font-size: 48px;
	}
	.sec_seo{
		margin-top: 30px;
	}
	.link_top{
		left: 0px;
		bottom: -8px;
	}
	.wrap_footer_nav .navbar{
		margin: 0 -15px;
	}
	#footer_menu .menu_list{
		margin: 0 0 0 30px;
	}
	.link_top a{
		padding: 15px 13px;
	}
	.link_top a img{
		width: 18px;
		height: auto;
	}
	.sec_8 .section_hed{
		margin-top: 100px;
		margin-bottom: 40px;
	}
	.sec_8 .heder_contact_text{
		margin-top: 30px;
	}
	.sec_8 .contact_text{

	}
	.sec_8 .link_cont{
		padding: 8px 30px;
		margin-top: 60px;
	}
	.sec_7 .cont_wrap{
		margin-top: 40px;
	}
	.menu_li > a{
		font-size: 11px;
		padding: 0 5px !important;
	}
	.footer_info .heder_contact_text{
		font-size: 20px;
	}
	.footer_info .contact_text{
		font-size: 30px;
	}
	.footer_info .link_cont{
		display: inline-block;
		padding: 12px 20px;
		font-family: 'RobotoLight';
		margin-top: 25px;
	}
	.ped_den_hed{
		padding-top: 100px;
	}
	
}
@media (max-width: 767px){
	#static_slider .slide_content{
		display: none;
	}
	.cont_link{
		padding: 40px 25px 20px 25px;
		width: 100% !important;
	}
	.cont_but{
		visibility: visible;
	}
	.padding_hed_md{
		padding-bottom: 20px;
	}
	.hed_special{
		font-size: 40px;
	}
	.img_close{
		font-size: 18px;
	}
	.img_next, .img_prev{
		opacity: 0.4;
	}
	.img_next{
		right: 10px;
	}
	.img_prev{
		left: 10px;
	}
	.padding_top{
		padding-top: 20px;
	}
	.list_md_blok{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.list_sm_blok{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.padding_sm{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.style_date{
		margin-top: 15px;
	}
	.img_cont_left{
		float: none;
		margin: 15px auto;
		text-align: center;
	}
	#page_slider .slide_item{
		height: 360px;
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}
	#page_slider .slide_content{
		padding: 0px 25px 10px 25px;
		display: inline-block;
		margin-top: 10px;
		margin-right: 0px;
		position: static;
		right: 0px;
		max-width: 90%;
		text-align: left;
	}
	#page_slider .slide_content h3{
		font-size: 20px;
	}
	#page_slider .slide_content ul{
		margin: 10px 0 10px;
		padding-left: 20px;
	}
	#page_slider .slide_content li{
		padding: 2px 0;
	}
	#page_slider .slide_content li > a{
		font-size: 12px;
	}
	#page_slider .slide_content li{
		font-size: 12px;
	}
	#page_slider .list_style{
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		margin-left: -20px;
		margin-right: 7px;
	}
	#page_slider .owl-prev, #page_slider .owl-next{
		top: 40%;
		opacity: 0.5;
	}
	#page_slider .owl-prev{
		left: 8px;
	}
	#page_slider .owl-next{
		right: 8px;
	}
	.top_bg_pediat{
		background-position: -250px center;
	}
	.top_bg_adult{
		background-position: -1500px center;
	}
	.aria_input{
		height: 200px;
	}
	.sec_seo{
		margin-top: 30px;
	}
	.sec_padding{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.breadcrum > li{
		display: block;
		padding: 5px;
	}
	.breadcrum .breadcrum_beak{
		float: none;
		text-align: right;
	}
	#footer_menu{
		margin-top: 50px;
	}
	#footer_menu .menu_li > a{
		color: #010101;
		font-size: 14px;
		padding: 0 15px !important;
	}
	#footer_menu .menu_li:hover > a, #footer_menu .menu_list .active > a{
		border-bottom: none;
		color: #FFFFFF;
	}
	#footer_menu .menu_li:hover,#footer_menu .menu_list .active{
		background-color: #00A3D8;
	}
	#footer_menu .menu_list{
		display: block;
	}
	#footer_menu.navbar-collapse, .wrap_footer_nav .col-xs-12{
		padding-left: 0;
		padding-right: 0;
	}
	#footer_menu .dropdown-menu{
		bottom: auto;
		top: 100%;
	}
	.link_top{
		left: 10px;
		top: -35px;
		height: 60px;
	}
	.pages_footer .link_logo_aiti{
		background-color: #FFFFFF;
		display: inline-block;
		padding: 15px 20px;
		float: right;
		margin: 0;
	}
	h2{
		font-size: 52px;
	}
	h3{
		font-size: 26px;
	}
	.section_hed{
		font-size: 52px;
		line-height: 42px;
	}
	footer .copyrite{
		margin-bottom: 25px;
	}
	.map_boot_wrap{
		margin-left: -54px;
		top: 600px;
		left: 50%;
	}
	.sec_8 .section_hed{
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.sec_8 .heder_contact_text{
		margin-top: 30px;
	}
	.sec_8 .link_cont{
		padding: 8px 30px;
		margin-top: 40px;
	}
	.sec_7 .cont_wrap{
		margin-top: 40px;
	}
	#heder_slider .slide_item{
		text-align: center;
	}
	#heder_slider .slide_content{
		text-align: left;
		position: static;
	}
	#heder_slider .slide_content{
		margin-right: 0px;
	}
	header .navbar{
		display:block;
	}
	.heder_adr{
		margin-left: 10px;
	}
	.nav-pills > li{
		float: none;
		text-align: left;
	}
	.menu_li > a{
		font-size: 14px;
	}
	.menu_drop_li > a, .menu_sub_li > a{
		font-size: 14px;
	}
	.menu_list{
		background-color: #F7F7F7;
	}
	.menu_li{
		border-bottom: thin solid #DCDCDC;
	}
	.menu_li > a{
		line-height: 28px;
	}
	.menu_drop_list, .menu_sub_list{
		width: 100%;
	}
	.ped_den_hed{
		padding-top: 50px;
	}

}
@media (max-width: 580px){

	.img_link_cr .hover_img_link a{
		padding-top: 40%;
		line-height: 18px;
		font-size: 18px;
	}
	.aria_input{
		height: 160px;
	}
	.form_wrap{
		width: 280px;
		position: absolute;
		left: 50%;
		top: 10%;
		margin-left: -140px;
		padding: 10px 30px;
	}
	footer .copyrite{
		font-size: 12px;
	}
	h2{
		font-size: 42px;
	}
	h3{
		font-size: 22px;
	}
	h4{
		font-size: 18px;
	}
	.section_hed{
		font-size: 42px;
	}
	.sub_text{
		font-size: 16px;
	}
	p{
		font-size: 16px;
	}
	.sm_paragr p{
		font-size: 14px;
	}
	.list_cerc > li{
		font-size: 16px;
	}
	.sec_3 .descr_sub_img{
		font-size: 14px;
	}
	.tabs_content{
		display: block;
	}
	.tabs_content > li{
		float: none;
		width: 100%;
	}
	.tab-pane .list_cerc > li{
		font-size: 14px;
	}

	.tab-pane .tab_img > img{
		width: 50%;
		height: auto;
	}
	.logo_olga, .wrap_coll{
		position: relative;
		left: 0;
		right: 0;
		margin-bottom: 20px;
	}
	#heder_slider .slide_content h3{
		font-size: 24px;
	}
	#heder_slider .slide_content li > a{
		font-size: 12px;
	}
	#heder_slider .slide_item{
		height: 400px;
	}
	#heder_slider .slide_content h3{
		font-size: 22px;
		margin-top: 10px;
	}
	#heder_slider .slide_content ul{
		margin: 5px 0 0;
	}
	#heder_slider .slide_content li{
		padding: 2px 0;
		font-size: 14px;
	}
	#heder_slider .slide_content{
		padding: 0 25px 15px 15px;
	}
	.ped_den_vid{
		height: 280px;
	}
	.table td{
		font-size: 11px;
	}

	.table th{
		font-size: 14px;
	}
}
@media (max-width: 395px){
	.link_write img, .link_gift img{
		display: none;
	}
	.link_gift img, .link_square{
		font-size: 15px;
	}
	#page_slider .slide_content h3{
		font-size: 18px;
	}
	#page_slider .slide_content li{
		padding: 1px 0;
	}
	#page_slider .slide_content li > a{
		font-size: 11px;
	}
	#page_slider .slide_content li{
		font-size: 11px;
	}
	#page_slider .owl-prev, #page_slider .owl-next{
		opacity: 0.3;
	}
	.img_link_cr .hover_img_link a{
		padding-top: 40%;
		line-height: 14px;
		font-size: 14px;
	}
	.review_wrap .message_inf li{
		display: block;
	}
	.review_wrap .message_date{
		position: static;
		margin-top: 10px;
	}
	#footer_menu .menu_li > a{
		color: #010101;
		font-size: 12px;
	}
	.sub_text{
		font-size: 14px;
	}
	p{
		font-size: 14px;
	}
	.list_cerc > li{
		font-size: 14px;
	}
	.sm_paragr p{
		font-size: 12px;
	}
	footer .futer_soc_link li{
		margin: 0 2px;
	}
	footer .futer_soc_link{
		margin-left: 5px;
	}
	footer .futer_soc_link li a > img{
		width: 18px;
		height: 18px;
	}
	footer .logo_aiti{
		margin-right: 5px;
	}
	.sec_8 .heder_contact_text{
		margin-top: 5px;
		padding-bottom: 0px;
	}
	.sec_8 .contact_text{
		margin-bottom: 25px;
	}
	.sec_8 .link_cont{
		margin-top: 10px;
		display: block;
		text-align: center;
	}
	.sec_8 .section_hed{
		margin-top: 40px;
		margin-bottom: 30px;
	}
	.new_blok .descr_info_list li{
		font-size: 10px;
		padding: 0 3px;
	}
	.new_blok .descr_info_list li a{
		font-size: 10px;
	}
	.sec_3 .descr_sub_img{
		font-size: 12px;
	}
	h2{
		font-size: 34px;
	}
	.section_hed{
		font-size: 34px;
		line-height: 30px;
	}
	#slider_carusel .slide_descr{
		font-size: 14px;
	}
	#slider_carusel .slide_sub_text{
		font-size: 12px;
	}
	#slider_carusel .owl-prev:hover{
		width: 24px;
		height: 24px;
		left: -2px;
		top: 123px;
	}
	#slider_carusel .owl-next:hover{
		width: 24px;
		height: 24px;
		right: -2px;
		top: 123px;
	}
	#slider_carusel{
		padding: 50px 30px 0;
		position: relative;
	}
	#slider_carusel .owl-prev, #slider_carusel .owl-next{
		width: 30px;
		height: 30px;
	}
	.img_wrap{
		width: 80px;
		height: 80px;
	}
	.sec_2 .img_wrap > img{
		width: 80px;
		height: 80px;
	}
	.sec_2 .item_sec:hover > .img_wrap img{
		width: 70px;
		height: 70px;
		left: 5px;
		top: 5px;
	}
	.sub_sec_1 .img_link > a{
		margin-top: 15px;
	}
	.sub_sec_1 .img_wrap{
		position: relative;
		width: 80px;
		height: 80px;
	}
	.sub_sec_1 .img_wrap > img{
		width: 80px;
		height: 80px;
	}
	.sub_sec_1 .img_link{
		width: 80px;
		height: 80px;
	}
	.tabs_content > li > a{
		font-size: 14px;
	}
	.phone{
		font-size: 22px;
	}
	.heder_adr{
		font-size: 12px;
	}
	.menu_li > a{
		font-size: 12px;
	}
	.menu_drop_li > a, .menu_sub_li > a{
		font-size: 12px;
	}
	.footer_info .heder_contact_text{
		font-size: 16px;
	}
	.footer_info .contact_text{
		font-size: 24px;
	}
	.ped_den_vid{
		height: 240px;
	}
}
@media (max-height: 800px) and (min-width: 992px) {
	.form_comment .aria_input, .form_quest .aria_input{
		height: 100px;
	}
	.padding_top{
		padding-top: 20px;
	}
	.list_md_blok{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.list_sm_blok{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.padding_sm{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.aria_input{
		height: 200px;
	}
	.sec_seo{
		margin-top: 80px;
	}
	.sec_padding{
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.sec_tabs{
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.sec_2{
		padding: 20px 0 30px;
	}
	.sec_2 .item_sec{
		margin-top: 20px;
	}
	.img_wrap{
		width: 80px;
		height: 80px;
	}
	.sec_2 .img_wrap > img{
		width: 80px;
		height: 80px;
	}
	.sec_2 .item_sec:hover > .img_wrap img{
		width: 70px;
		height: 70px;
		left: 5px;
		top: 5px;
	}
	.sec_2 .item_sec .descr_img{
		margin-top: 10px;
	}
	#slider_carusel {
		padding: 30px 50px 0px;
	}
	.sec_3, .sec_4, .sec_6, .sec_7{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.sec_3 .hover_item_sec{
		margin-top: 10px;
		max-width: 240px;
	}
	.sec_4 .hover_item_sec, .sec_6 .hover_item_sec{
		margin-top: 10px;
		max-width: 300px;
	}
	.sec_5{
		padding-top: 40px;
		padding-bottom: 60px;
	}
	.sec_7 .section_hed{
		margin-bottom: 30px;
	}
	.sec_7 {
		margin-top: 10px;
		margin-bottom: 40px;
	}
	h2{
		font-size: 62px;
	}
	.section_hed{
		font-size: 62px;
		line-height: 60px;
	}
	.sub_text{
		font-size: 16px;
		margin-bottom: 20px;
	}
	h3{
		font-size: 26px;
	}
	h4{
		font-size: 22px;
	}
	p, li{
		font-size: 15px;
	}
	.list_cerc > li{
		font-size: 15px;
	}
	.sm_paragr p, .sm_paragr li{
		font-size: 14px;
	}
	.sec_2_sub h4{
		font-size: 22px;
	}
	#slider_carusel .slide_sub_text{
		font-size: 14px;
	}
	#heder_slider .slide_item{
		height: 400px;
	}
	#heder_slider .slide_content{
		padding-top: 0;
	}
	#heder_slider .slide_content h3{
		font-size: 22px;
		margin-top: 10px;
	}
	#heder_slider .slide_content ul{
		margin: 5px 0 0;
	}
	#heder_slider .slide_content li{
		padding: 2px 0;
		font-size: 14px;
	}
	.ped_den_hed{
		padding-top: 100px;
	}
	.padding_hed_md{
		padding-bottom: 20px;
	}
}