@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700;);
html, body, div, span, applet, object, iframe,
h1,
h2,
h3,
h4,
h5,
h6, h2, h3, h4, h5, h6, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
  box-sizing: border-box;
  /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */ }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none;
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  font-weight: normal;
  text-align: left; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6,
h2,
h3,
h4,
h5,
h6,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

b,
strong {
  font-weight: bold; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 1.5rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-radius: 3px;
  background: #e6e6e6;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 100%; }

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul {
  left: auto; }

.main-navigation ul ul li:hover > ul {
  left: 100%; }

/* Small menu */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block; }
  .main-navigation ul {
    display: none; } }

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*
Grids
*/
/*
VARIABILES
*/
/*
Global
*/
body {
  font-family: "Arial", sans-serif;
  background: rgba(255, 255, 255, 0.58) none repeat scroll 0 0;
  margin: 0;
  padding: 0;
  font-size: 14px; }

.content {
  max-width: 1920px;
  width: 100%; }
  .content:before, .content:after {
    content: "";
    display: table; }
  .content:after {
    clear: both; }

.wrapper {
  max-width: 1071;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 100%;
  margin-top: 0; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

p {
  margin-bottom: 18px;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 25px; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 32px;
  line-height: 25px;
  color: #000; }

h2, h3, h4, h5, h6 {
  font-size: 25px; }

h4, h5, h6 {
  font-size: 18px; }

.slicknav_menu {
  display: none; }

.main-header .header-content {
  padding: 15px 0;
  padding-bottom: 0; }
  .main-header .header-content:before, .main-header .header-content:after {
    content: "";
    display: table; }
  .main-header .header-content:after {
    clear: both; }

.main-header .header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .main-header .header-logo {
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%; }
  .main-header .header-address {
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%;
    background: url(../images/navigation.png) no-repeat scroll left center;
    font-size: 18px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center; }
  .main-header .header-phone {
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%;
    font-size: 20px;
    font-weight: 500;
    margin-right: 0;
    margin-top: 20px; }
    .main-header .header-phone .phone-number {
      background: url(../images/phone.png) no-repeat scroll left center;
      float: right;
      font-size: 20px;
      font-weight: 500;
      width: 202px;
      padding-bottom: 4px;
      padding-left: 30px; }
    .main-header .header-phone .phone-link {
      font-size: 15px;
      font-weight: 600;
      float: right; }
      .main-header .header-phone .phone-link:before, .main-header .header-phone .phone-link:after {
        content: "";
        display: table; }
      .main-header .header-phone .phone-link:after {
        clear: both; }
      .main-header .header-phone .phone-link a {
        border-bottom: 2px dotted #00c3d8;
        color: #00c3d8;
        text-align: right;
        text-decoration: none;
        transition: all 0.4s ease 0s; }

.header-nav:before, .header-nav:after {
  content: "";
  display: table; }

.header-nav:after {
  clear: both; }

.header-nav ul {
  margin: 1.5em 0; }
  .header-nav ul li {
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase; }
    .header-nav ul li a {
      border-radius: 7px;
      color: #000000;
      display: block;
      padding: 0 4px;
      text-decoration: none; }

.slide {
  background: url("../images/slide.jpg") no-repeat scroll center top;
  height: 200px;
  margin: 0 auto;
  width: 100%; }

.cermet h1, .cermet h2, .cermet h3, .cermet h4, .cermet h5, .cermet h6 {
  font-size: 46px; }

.cermet .description {
  border: 1px solid #00c3d8;
  border-radius: 7px;
  margin: 0 auto;
  padding: 15px 30px; }
  .cermet .description-inside:before, .cermet .description-inside:after {
    content: "";
    display: table; }
  .cermet .description-inside:after {
    clear: both; }
  .cermet .description-inside .text {
    width: 66.0130718954%;
    float: left;
    margin-right: 1.9607843137%; }
  .cermet .description-inside .image {
    width: 23.5294117647%;
    float: left;
    margin-right: 1.9607843137%;
    margin-left: 8.4967320261%;
    margin-right: 0; }
  .cermet .description .button {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 196px;
    background-color: red; }
    .cermet .description .button:before, .cermet .description .button:after {
      content: "";
      display: table; }
    .cermet .description .button:after {
      clear: both; }
    .cermet .description .button a {
      color: #ffffff; }

.cermet-advantages {
  border-top: 1px dashed #e6e6e6;
  margin: 20px 0;
  width: 100%; }
  .cermet-advantages h2, .cermet-advantages h3, .cermet-advantages h4, .cermet-advantages h5, .cermet-advantages h6 {
    font-size: 36px; }
  .cermet-advantages .advantages-list {
    background-color: #0b97c4;
    padding: 10px 0; }
    .cermet-advantages .advantages-list-inside {
      margin: 0 auto;
      max-width: 605px;
      font-size: 14px;
      line-height: 26px; }
      .cermet-advantages .advantages-list-inside ul {
        color: #ffffff; }
        .cermet-advantages .advantages-list-inside ul li span {
          color: #000000; }
  .cermet-advantages .description:before, .cermet-advantages .description:after {
    content: "";
    display: table; }
  .cermet-advantages .description:after {
    clear: both; }
  .cermet-advantages .description .image {
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%; }
  .cermet-advantages .description .text {
    width: 66.0130718954%;
    float: left;
    margin-right: 1.9607843137%;
    margin-right: 0; }
  .cermet-advantages .description .button {
    text-align: center; }

.popular-cermet h2, .popular-cermet h3, .popular-cermet h4, .popular-cermet h5, .popular-cermet h6 {
  font-size: 30px; }

.popular-cermet .cermet-part {
  width: 66.0130718954%;
  float: left;
  margin-right: 1.9607843137%;
  margin-left: 16.9934640523%;
  padding: 50px 0; }
  .popular-cermet .cermet-part:before, .popular-cermet .cermet-part:after {
    content: "";
    display: table; }
  .popular-cermet .cermet-part:after {
    clear: both; }
  .popular-cermet .cermet-part .cermet-left {
    width: 49.0196078431%;
    float: left;
    margin-right: 1.9607843137%;
    margin-top: 20px; }
    .popular-cermet .cermet-part .cermet-left ul {
      margin-left: 0; }
      .popular-cermet .cermet-part .cermet-left ul li {
        background: url("../images/knopka21.png") no-repeat;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        height: 62px;
        list-style: outside none none;
        line-height: 1.1;
        margin-top: 10px;
        padding-left: 13px;
        padding-top: 10px;
        text-shadow: 1px 1px 1px #000000;
        max-width: 366px; }
  .popular-cermet .cermet-part .cermet-right {
    width: 49.0196078431%;
    float: left;
    margin-right: 1.9607843137%;
    border-radius: 10px;
    margin-right: 0; }
    .popular-cermet .cermet-part .cermet-right img {
      max-width: 280px;
      margin: 0 auto;
      display: block; }

.prosthesis-types {
  border-top: 1px dashed #e6e6e6;
  padding: 30px 0; }
  .prosthesis-types h2, .prosthesis-types h3, .prosthesis-types h4, .prosthesis-types h5, .prosthesis-types h6 {
    font-size: 30px; }
  .prosthesis-types .type-list {
    margin: 0 auto;
    max-width: 700px; }
    .prosthesis-types .type-list ul li {
      background: url("../images/confirm.png") no-repeat scroll left center;
      font-size: 16px;
      height: 50px;
      list-style: outside none none;
      margin-top: 18px;
      padding-left: 56px;
      padding-top: 3px; }
      .prosthesis-types .type-list ul li span {
        color: #0095b9;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase; }
  .prosthesis-types .prosthesis-motto {
    background: url(../images/icon.png) no-repeat;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    max-width: 522px; }
    .prosthesis-types .prosthesis-motto span {
      margin-left: 15px; }

.prosthesis-examples {
  background: url(../images/block_bg_2.jpg) no-repeat;
  min-height: 383px;
  width: 100%; }

.methods-prosthesis {
  padding: 30px 0; }
  .methods-prosthesis h2, .methods-prosthesis h3, .methods-prosthesis h4, .methods-prosthesis h5, .methods-prosthesis h6 {
    font-size: 30px; }
  .methods-prosthesis .first-method .method-description p span {
    color: #0095b9;
    font-weight: bold;
    text-transform: uppercase; }
  .methods-prosthesis .first-method .method-description img {
    margin: 0 0 10px 10px;
    float: right;
    vertical-align: top; }
  .methods-prosthesis .last-method .method-description p span {
    color: #0095b9;
    font-weight: bold;
    text-transform: uppercase; }
  .methods-prosthesis .last-method .method-description img {
    margin: 0 10px 10px 0;
    float: left;
    vertical-align: top; }

.appointments {
  background: url(../images/block_bg_3.jpg) no-repeat scroll 0 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 30px 0; }
  .appointments .arrow {
    left: 50%;
    margin-left: -33px;
    position: absolute;
    top: 0; }
  .appointments .appointments-text {
    width: 40.522875817%;
    float: left;
    margin-right: 1.9607843137%;
    margin-left: 8.4967320261%; }
    .appointments .appointments-text .title {
      font-weight: bold;
      font-size: 18px; }
    .appointments .appointments-text .subtitle {
      line-height: 1;
      font-size: 18px; }
  .appointments .appointments-form-input {
    width: 40.522875817%;
    float: left;
    margin-right: 1.9607843137%;
    margin-left: 8.4967320261%;
    margin-right: 0; }
    .appointments .appointments-form-input .text-input {
      border: medium none;
      border-radius: 3px;
      font-size: 15px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      width: 254px; }
    .appointments .appointments-form-input .button-input {
      background: url(../images/knopka11.png) repeat scroll 0 0;
      cursor: pointer;
      border: medium none;
      color: #3d3d3d;
      font-size: 16px;
      font-weight: bold;
      height: 49px;
      margin-left: 14px;
      margin-top: 0;
      width: 117px; }

.advantages-clinic {
  padding: 30px 0; }
  .advantages-clinic h2, .advantages-clinic h3, .advantages-clinic h4, .advantages-clinic h5, .advantages-clinic h6 {
    background: url(../images/tooth.png) no-repeat;
    font-size: 30px;
    height: 37px;
    margin: 0 auto;
    max-width: 375px;
    padding-left: 40px; }
  .advantages-clinic .advantages-description span {
    color: #0095b9;
    font-weight: bold;
    text-transform: uppercase; }
  .advantages-clinic .advantages-description img {
    margin: 0 0 10px 10px;
    float: right;
    vertical-align: top; }

.clinic-services h2, .clinic-services h3, .clinic-services h4, .clinic-services h5, .clinic-services h6 {
  background: url(../images/akcia.png) no-repeat scroll left center;
  font-size: 30px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  margin: 31px auto 0;
  padding-left: 44px;
  max-width: 631px; }

.clinic-services .all-shares-button {
  height: 43px;
  left: 55%;
  line-height: 43px;
  margin-left: 224px;
  margin-top: -39px;
  position: absolute;
  text-align: center;
  width: 113px; }
  .clinic-services .all-shares-button a {
    transition: all 0.4s ease 0s;
    border: 1px solid #0095b9;
    border-radius: 6px;
    color: #0095b9;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; }

.clinic-services .clinic-services-inside {
  padding: 30px 0;
  width: 83.0065359477%;
  float: left;
  margin-right: 1.9607843137%;
  margin-left: 8.4967320261%; }
  .clinic-services .clinic-services-inside:before, .clinic-services .clinic-services-inside:after {
    content: "";
    display: table; }
  .clinic-services .clinic-services-inside:after {
    clear: both; }
  .clinic-services .clinic-services-inside .service {
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%; }
    .clinic-services .clinic-services-inside .service-inside {
      max-width: 232px;
      background: url(../images/figura16s.png) no-repeat scroll 0 0;
      height: 286px;
      border-radius: 6px;
      margin: 0 auto; }
    .clinic-services .clinic-services-inside .service-image {
      padding: 7px;
      padding-bottom: 0; }
      .clinic-services .clinic-services-inside .service-image img {
        border-radius: 6px; }
    .clinic-services .clinic-services-inside .service-description {
      color: #3d3d3d;
      font-size: 14px;
      font-weight: bold;
      padding: 6px 10px 0;
      text-align: center; }
  .clinic-services .clinic-services-inside .discount-service {
    width: 32.0261437908%;
    float: left;
    margin-right: 1.9607843137%;
    margin-right: 0; }
    .clinic-services .clinic-services-inside .discount-service .discount-service-inside {
      max-width: 232px;
      background: url(../images/figura16.png) no-repeat scroll 0 0;
      margin: 0 auto;
      height: 286px;
      border-radius: 6px; }
    .clinic-services .clinic-services-inside .discount-service .discount-header {
      color: #3d3d3d;
      font-size: 24px;
      font-weight: 500;
      height: 55px;
      line-height: 1.2;
      padding: 9px 20px 0;
      text-align: center; }
    .clinic-services .clinic-services-inside .discount-service .discount-content {
      color: #3d3d3d;
      font-size: 24px;
      font-weight: bold;
      height: 53px;
      margin-top: 112px;
      text-align: center;
      text-transform: uppercase; }
    .clinic-services .clinic-services-inside .discount-service .discount-footer {
      font-size: 12px;
      padding: 6px 10px 0;
      text-align: justify; }

.contact-info {
  background: url(../images/block_bg_4.jpg) no-repeat scroll center top;
  padding: 20px 0; }
  .contact-info .contact-info-title {
    color: #00adca;
    font-size: 18px;
    padding-top: 11px;
    text-align: center; }
  .contact-info .contact-info-inside {
    background: #fdfdfd no-repeat;
    border-radius: 6px; }
    .contact-info .contact-info-inside:before, .contact-info .contact-info-inside:after {
      content: "";
      display: table; }
    .contact-info .contact-info-inside:after {
      clear: both; }
    .contact-info .contact-info-inside .contact-info-blocks {
      padding: 0 20px; }
      .contact-info .contact-info-inside .contact-info-blocks .phone {
        width: 32.0261437908%;
        float: left;
        margin-right: 1.9607843137%; }
        .contact-info .contact-info-inside .contact-info-blocks .phone .phone-text {
          font-size: 14px;
          padding-left: 20px;
          padding-top: 4px; }
        .contact-info .contact-info-inside .contact-info-blocks .phone .phone-number {
          background: url(../images/phone.png) no-repeat scroll left center;
          color: #00adca;
          font-size: 24px;
          font-weight: bold;
          height: 35px;
          line-height: 35px;
          margin-top: 10px;
          padding-left: 26px; }
      .contact-info .contact-info-inside .contact-info-blocks .call {
        width: 32.0261437908%;
        float: left;
        margin-right: 1.9607843137%; }
        .contact-info .contact-info-inside .contact-info-blocks .call .call-info {
          background: url(../images/obr.zvonok.png) no-repeat scroll left center;
          height: 35px;
          line-height: 35px;
          margin-left: 59px;
          margin-top: 9px;
          padding-left: 37px; }
          .contact-info .contact-info-inside .contact-info-blocks .call .call-info a {
            border-bottom: 1px dashed #00adca;
            color: #00adca;
            font-size: 21px;
            font-weight: bold;
            text-decoration: none;
            transition: all 0.4s ease 0s; }
      .contact-info .contact-info-inside .contact-info-blocks .receive-letter {
        width: 32.0261437908%;
        float: left;
        margin-right: 1.9607843137%;
        margin-right: 0; }
        .contact-info .contact-info-inside .contact-info-blocks .receive-letter .receive-button {
          background: url(../images/knopka5.png) no-repeat scroll center center;
          height: 52px;
          line-height: 52px;
          margin-top: 4px;
          text-align: center; }

.footer-copyright {
  border-top: 1px dashed #e6e6e6;
  padding-top: 30px;
  padding-bottom: 60px; }
  .footer-copyright .copyright-left-side {
    float: left; }
  .footer-copyright .copyright-right-side {
    float: right; }

/*
SLIDER
*/
.owl-theme .owl-controls {
  margin-top: 0; }

#owl-demo .item img {
  display: block;
  width: 1903px;
  height: 541px; }

.owl-theme .owl-controls .owl-page {
  display: none; }

.owl-theme .owl-controls .active {
  display: inline-block; }

.owl-theme .owl-controls .owl-page span.owl-numbers {
  width: 5px;
  background: none;
  color: #FFFFFF;
  padding: 2px 0; }

.owl-wrapper {
  position: relative; }

.owl-pagination {
  position: absolute;
  right: 3%;
  top: 90%; }

.owl-prev {
  margin-left: -15px; }

.item {
  position: relative; }
  .item img {
    height: 541px; }

.desc-slider {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -380px;
  text-align: center;
  padding: 40px 70px;
  background: rgba(255, 255, 255, 0.5); }
  .desc-slider h2, .desc-slider h3, .desc-slider h4, .desc-slider h5, .desc-slider h6 {
    text-transform: uppercase;
    font-weight: 700;
    color: #353535; }
  .desc-slider h2, .desc-slider h3, .desc-slider h4, .desc-slider h5, .desc-slider h6, .desc-slider p {
    margin-bottom: 15px; }
  .desc-slider p {
    font-size: 17px;
    font-weight: 400; }
  .desc-slider a {
    padding: 19px 38px;
    font-family: 'Roboto Black';
    font-size: 13px;
    margin-left: 30px;
    color: #fff;
    background: #6d9aee;
    text-transform: uppercase;
    -webkit-transition: background 0.7s ease;
    -moz-transition: background 0.7s ease;
    -ms-transition: background 0.7s ease;
    -o-transition: background 0.7s ease;
    transition: background 0.7s ease; }
    .desc-slider a:first-child {
      margin-left: 0; }
    .desc-slider a:hover {
      background: #a4c0f4;
      -webkit-transition: background 0.7s ease;
      -moz-transition: background 0.7s ease;
      -ms-transition: background 0.7s ease;
      -o-transition: background 0.7s ease;
      transition: background 0.7s ease; }

/*
 multiple-slider
 */
.multislider {
  width: 100%; }

.owl-pagination {
  display: block;
  color: #FFFFFF;
  font-family: 'sans-serif';
  font-size: 20px; }

#owl-demo-bottom .item-bottom-slider img {
  display: block;
  width: 100%;
  height: auto; }

.img-price {
  width: 50%;
  float: right;
  margin-right: 0;
  overflow: hidden; }
  .img-price img {
    width: 960px;
    height: 398px; }

.position-slider-bottom {
  width: 40.522875817%;
  float: left;
  margin-right: 1.9607843137%;
  margin: 5% 2% 0 6%; }
  .position-slider-bottom .bottom-slider-numbers {
    width: 66.0130718954%;
    float: left;
    margin-right: 1.9607843137%;
    float: right; }
    .position-slider-bottom .bottom-slider-numbers h3 {
      text-align: left; }
    .position-slider-bottom .bottom-slider-numbers p {
      text-align: left; }
    .position-slider-bottom .bottom-slider-numbers a {
      margin-top: 30px;
      padding: 15px 25px;
      background: #6d9aee;
      text-transform: uppercase;
      font-family: 'Roboto Black';
      color: #fff;
      border: 1px solid #6d9aee;
      -webkit-transition: background 0.7s ease;
      -moz-transition: background 0.7s ease;
      -ms-transition: background 0.7s ease;
      -o-transition: background 0.7s ease;
      transition: background 0.7s ease; }
      .position-slider-bottom .bottom-slider-numbers a:hover {
        background: #a4c0f4;
        -webkit-transition: background 0.7s ease;
        -moz-transition: background 0.7s ease;
        -ms-transition: background 0.7s ease;
        -o-transition: background 0.7s ease;
        transition: background 0.7s ease; }

.bottom-arrow-left,
.bottom-arrow-right {
  position: absolute;
  top: 91%;
  height: 0; }

.bottom-arrow-left {
  left: 87%; }

.owl-next {
  position: absolute; }

.bottom-arrow-right {
  right: 8%; }

.owl-buttons:before, .owl-buttons:after {
  content: "";
  display: table; }

.owl-buttons:after {
  clear: both; }

.slider-and-price-image:before, .slider-and-price-image:after {
  content: "";
  display: table; }

.slider-and-price-image:after {
  clear: both; }

.owl-demo-bottom .owl-prev {
  margin-top: 10px; }

.image-item {
  width: 49.0196078431%;
  float: left;
  margin-right: 1.9607843137%; }
  .image-item .select-image {
    left: 50%;
    margin-left: -302px;
    margin-top: -61px;
    position: absolute; }
    .image-item .select-image .first-button {
      background: #21a3c3 none repeat scroll 0 0;
      border-radius: 7px;
      color: #ffffff;
      font-weight: bold;
      margin-right: 5px;
      padding: 2px 8px 2px 10px;
      text-decoration: none; }
    .image-item .select-image .second-button {
      color: #000000;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.4s ease 0s; }

.item-content {
  width: 49.0196078431%;
  float: left;
  margin-right: 1.9607843137%;
  margin-right: 0; }
  .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6 {
    color: #0095b9;
    font-size: 30px;
    line-height: 1; }

/*finish slider*/
/*adults-dentistry page start*/
.adults-dentistry h1, .adults-dentistry h2, .adults-dentistry h3, .adults-dentistry h4, .adults-dentistry h5, .adults-dentistry h6 {
  font-size: 48px; }

.adults-dentistry .discount-button {
  text-align: center; }

.adults-dentistry .adults-dentistry-offers:before, .adults-dentistry .adults-dentistry-offers:after {
  content: "";
  display: table; }

.adults-dentistry .adults-dentistry-offers:after {
  clear: both; }

.adults-dentistry .adults-dentistry-offers .offer {
  width: 23.5294117647%;
  float: left;
  margin-right: 1.9607843137%; }
  .adults-dentistry .adults-dentistry-offers .offer:nth-child(4n) {
    margin-right: 0; }
  .adults-dentistry .adults-dentistry-offers .offer .offer-description {
    text-align: center; }

.show-offer {
  position: relative; }
  .show-offer:before {
    content: ' ▶'; }
  .show-offer:hover:before {
    content: '\25bc'; }

.list-to-show {
  margin-left: 0;
  text-align: left;
  left: 0;
  display: none;
  position: absolute;
  top: 20px;
  z-index: 1;
  background-color: #ffffff;
  padding: 20px; }

ul.list-to-show li {
  float: none;
  width: 100%;
  list-style: none;
  text-decoration: underline; }

.hover-image-wrap {
  position: relative;
  width: 100%;
  height: auto; }
  .hover-image-wrap img {
    text-align: left;
    width: 100%;
    height: auto; }
  .hover-image-wrap .hover-image-link {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    background-color: rgba(74, 214, 222, 0.75);
    transition: all 300ms ease-in-out;
    visibility: hidden;
    opacity: 0; }
    .hover-image-wrap .hover-image-link a {
      color: #ffffff;
      display: block;
      font-size: 18px;
      text-transform: lowercase;
      padding-top: 40%;
      width: 100%;
      height: 100%; }

.hover-image-wrap:hover .hover-image-link {
  visibility: visible;
  opacity: 1; }

/*adults-dentistry page end*/
@media screen and (max-width: 1230px) {
  .wrapper {
    padding-right: 30px;
    padding-left: 30px; } }

@media screen and (max-width: 480px) {
  img.method-image {
    display: block;
    width: 100%;
    float: none;
    margin: 0 auto 20px !important; } }

/*# sourceMappingURL=styles.css.map */