@import "normalize";
@import "../bower_components/susy/sass/susy";
@import "../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700;);

/*====================== FONT =======================*/
@font-face {
  font-family:'RobotoRegular';
  src: url('../fonts/RobotoRegular.eot?#iefix') format('eot'),
  url('../fonts/RobotoRegular.woff') format('woff'),
  url('../fonts/RobotoRegular.ttf')  format('truetype');
}
@font-face {
  font-family:'RobotoMedium';
  src: url('../fonts/RobotoMedium.eot?#iefix') format('eot'),
  url('../fonts/RobotoMedium.woff') format('woff'),
  url('../fonts/RobotoMedium.ttf')  format('truetype');
}
@font-face {
  font-family:'RobotoLight';
  src: url('../fonts/RobotoLight.eot?#iefix') format('eot'),
  url('../fonts/RobotoLight.woff') format('woff'),
  url('../fonts/RobotoLight.ttf')  format('truetype');
}
@font-face {
  font-family:'RobotoBold';
  src: url('../fonts/RobotoBold.eot?#iefix') format('eot'),
  url('../fonts/RobotoBold.woff') format('woff'),
  url('../fonts/RobotoBold.ttf')  format('truetype');
}

/*====================== FONT : END =======================*/

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}

@mixin linear-gradient-b($args...) {
  background-image: -o-linear-gradient($args);
  background-image: -moz-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

@mixin rgba() {
  background-color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

/*
Grids
*/
$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: auto,
        container-position: center,
        columns: 12,
        gutters: .30,
        column-width: 75,
        global-box-sizing: content-box,
        last-flow: to,
        debug: (
                image:hide,
                color:rgba(#55f, .5),
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);

/*
VARIABILES
*/
$fonts: 'RobotoLight', sans-serif;
$white: #ffffff;
$gold-color: #3e3e3e;
$aqua-color: #00c3d8;

/*
Global
*/
body {
  font-family: $fonts;
  background: rgba(255, 255, 255, 0.58) none repeat scroll 0 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.content {
  @include clearfix;
  max-width: 1920px;
  width: 100%;
}

.wrapper {
  @include container();
  max-width: 1150px;
  width: 100%;
  margin-top: 0;
}

.button-gold {
  @include linear-gradient-b(to bottom, rgba(255, 222, 78, 1) 0%, rgba(255, 193, 79, 1) 100%);
  border-bottom: 1px solid #e5ad5e;
  border-radius: 5px;
  color: $gold-color;
  font-weight: bold;
  padding: 15px 10px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1;
  transition: all 0.4s ease 0s;
  &:hover {
    opacity: 0.7;
  }
}

.button-aqua {
  background-color: $aqua-color;
  color: $white;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.4s ease 0s;
  line-height: 30px;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}

.button-aqua-bold {
  @include linear-gradient-b(to bottom, rgba(0, 195, 218, 1) 0%, rgba(0, 152, 187, 1) 100%);
  color: $white;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.4s ease 0s;
  line-height: 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  &:hover {
    opacity: 0.7;
  }
}

.button-aqua-dots {
  border-bottom: 2px dotted $aqua-color;
  color: $aqua-color;
  font-weight: bold;
  text-align: center;
  transition: all 0.4s ease 0s;
  &:hover {
    opacity: 0.7;
  }

}

p {
  margin-bottom: 18px;
  color: #000;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: $aqua-color;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  color: #000;
}

h2 {
  @extend h1;
  font-size: 25px;
}

h3 {
  font-family: 'RobotoRegular';
  font-size: 30px;
  margin-bottom: 30px;
}

h4 {
  font-family: 'RobotoRegular';
  font-size: 24px;
  margin-bottom: 15px;
}

h5, h6 {
  @extend h2;
  font-size: 18px;
}

.main-header {
  .right-side-menu {
    display: none;
  }
  .header-content {
    @include clearfix();
    padding: 15px 0;
  }
  .header {
    @include span(12);
    &-logo {
      @include span(4);
    }
    &-address {
      @include span(4);
      font-size: 18px;
      margin-top: 20px;
      text-transform: uppercase;
      text-align: center;
      .location {
        margin-top: 10px;
      }
      .location:before {
        content: " ";
        background: url('../images/navigation.png') no-repeat;
        display: block;
        width: 25px;
        height: 35px;
        float: left;
        margin-top: -7px;
      }
    }
    &-phone {
      @include span(4);
      font-size: 20px;
      font-weight: 500;
      margin-right: 0;
      margin-top: 20px;
      .phone-number {
        background: url(../images/phone.png) no-repeat scroll left center;
        float: right;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 4px;
        padding-left: 30px;
      }
      .phone-link {
        @include clearfix();
        font-size: 15px;
        font-weight: 600;
        float: right;
        a {
          border-bottom: 2px dotted #00c3d8;
          color: #00c3d8;
          text-align: right;
          text-decoration: none;
          transition: all 0.4s ease 0s;
        }
      }
    }
  }
}

/***Menu*****/
#heder_menu .menu_li {
  padding: 0 !important;
}

#heder_menu .menu_li > a {
  font-size: 13px;
}

.dropdown-submenu > a:after {
  content: "";
  float: right;
  margin-top: 4px;
  margin-right: -10px;
  border-left: 4px dashed;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.header-nav {
  @include clearfix;
  height: 50px;

  #mobile-header {
    width: 100%;
    background-color: #00AAC8;
    position: absolute;
    left: 0;
    padding-right: 30px;
    height: 50px;
    display: none;
    #responsive-menu-button {
      float: right;
      padding: 18px 0px;
      cursor: pointer;
    }
  }

  .primary_nav_wrap {
    @include clearfix();
    margin-top: 15px;
  }

  .primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
  }

  .primary_nav_wrap ul a {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0;
  }

  .primary_nav_wrap ul li {
    position: relative;
    display: inline-block;
    float: left;
    font-weight: 400;
    font-size: 13px;
    color: #010101;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px !important;
    background-color: rgba(0,0,0,0) !important;
  }

  .primary_nav_wrap ul li.current-menu-item {

  }

  .primary_nav_wrap ul li:hover {
    @include linear-gradient-b(to right, rgba(102, 181, 206, 1) 0%, rgba(108, 191, 213, 1) 100%);
  }

  .primary_nav_wrap ul li a:hover {
    color: #fff;
  }

  .primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
  }

  .primary_nav_wrap ul ul li {
    float: none;
    width: 100%;
  }

  .primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
    white-space: normal;
  }

  .primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
  }

  .primary_nav_wrap ul li:hover > ul {
    display: block
  }
}
/**end menu**/

.slide {
  background: url("../images/slide.jpg") no-repeat scroll center top;
  height: 200px;
  margin: 0 auto;
  width: 100%;
}

.brad-cramps {
  @include clearfix();

  .brad-cramps-inside {
    background-color: #fff;
    margin: -25px auto 0;
    padding: 2px 15px;
    max-width: 94%;
    color: $aqua-color;
    a {
      font-size: 16px;
    }
  }
}

.cermet {
  @include clearfix();
  padding: 30px 0;
  h1 {
    font-size: 46px;
    font-weight: bold;
  }
  .description {
    border: 1px solid #00c3d8;
    border-radius: 7px;
    margin: 0 auto;
    padding: 15px 30px;
    padding-bottom: 5px;
    &-inside {
      @include clearfix();
      .text {
        @include span(8);
      }
      .image {
        @include span(3);
        @include push(1);
        margin-right: 0;
        img {
          width: 100%;
          max-width: 245px;
        }
      }
    }
    .button {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  }
}

.cermet-advantages {
  border-top: 1px dashed #e6e6e6;
  border-bottom: 1px dashed #e6e6e6;
  margin: 20px 0;
  width: 100%;
  h2 {
    font-size: 36px;
    margin-top: 24px;
  }
  .advantages-list {
    @include linear-gradient-b(to right, rgba(183, 228, 234, 1) 0%, rgba(208, 236, 237, 1) 100%);
    padding: 10px 0;
    &-inside {
      margin: 0 auto;
      font-size: 14px;
      line-height: 26px;
      ul {
        color: $white;
        margin-bottom: 0;
        li {
          span {
            color: #000000;
          }
        }
      }
    }
  }
  .description {
    @include clearfix();
    .image {
      @include span(4);
      img {
        width: 100%;
        max-width: 300px;
      }
    }
    .text {
      @include span(8);
      margin-right: 0;
      text-align: justify;
    }
    .button {
      text-align: center;
      margin-top: 100px;
    }
  }
}

.popular-cermet {
  h2 {
    font-size: 30px;
    padding-top: 15px;
  }
  .cermet-part {
    @include clearfix();
    @include span(8);
    @include push(2);
    padding-top: 40px;
    padding-bottom: 80px;

    .cermet-left {
      @include span(6);
      margin-top: 12px;
      ul {
        margin-left: 0;
        li {
          @include linear-gradient-b(to bottom, #00C2D8 0%, #0096BB 100%);
          color: #ffffff;
          font-size: 17px;
          font-weight: bold;
          list-style: outside none none;
          line-height: 1.1;
          margin-top: 20px;
          text-shadow: 1px 1px 1px #000000;
          border-radius: 6px;
          padding: 10px;
          width: 100%;
        }
      }
    }
    .cermet-right {
      @include span(6);
      border-radius: 10px;
      margin-right: 0;
      img {
        max-width: 280px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.prosthesis-types {
  border-top: 1px dashed #e6e6e6;
  padding: 30px 0;
  h2 {
    font-size: 30px;
  }
  .type-list {
    margin: 0 auto;
    max-width: 700px;
    ul {
      li {
        background: url("../images/confirm.png") no-repeat scroll left center;
        font-size: 16px;
        list-style: outside none none;
        margin-top: 18px;
        padding-left: 56px;
        padding-top: 3px;
        span {
          color: #0095b9;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
  .prosthesis-motto {
    background: url(../images/icon.png) no-repeat;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;
    max-width: 522px;
    span {
      margin-left: 15px;
    }
    .button {
      margin: 40px 0;
    }
  }
}

.prosthesis-examples {
  @include linear-gradient-b(to right, #B6E2EB 0%, #CFEDEF 100%);
  width: 100%;

  .prosthesis-examples-inside {
    padding: 50px 0;
  }
  #owl-demo-bottom {
    h2 {
      text-align: left;
    }
    text-align: justify;
  }

  #owl-demo-prosthetics-v1 {
    .item-content {
      h2 {
        text-align: left;
        margin-bottom: 15px;
      }
    }
    .image-item {
      margin-right: 0;

    }
    .owl-controls {
      left: 13px;
    }
  }
}

.methods-prosthesis {
  padding: 30px 0;
  padding-bottom: 50px;
  h2 {
    font-size: 30px;
    margin-top: 15px;
  }
  .first-method {
    .method-description {
      p {
        span {
          color: #0095b9;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      img {
        margin: 0 0 10px 10px;
        float: right;
        vertical-align: top;
      }
    }
  }
  .last-method {
    .method-description {
      p {
        span {
          color: #0095b9;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      img {
        margin: 0 10px 10px 0;
        float: left;
        vertical-align: top;
      }
    }
  }
}

.appointments {
  @include linear-gradient-b(to right, rgba(183, 228, 234, 1) 0%, rgba(208, 236, 237, 1) 100%);
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 30px 0;
  .arrow {
    left: 50%;
    margin-left: -33px;
    position: absolute;
    top: 0;
  }
  .appointments-text {
    @include span(5);
    @include push(1);
    .title {
      font-weight: bold;
      font-size: 18px;
    }
    .subtitle {
      line-height: 1;
      font-size: 18px;
    }
  }
  .appointments-form-input {
    @include span(5);
    @include push(1);
    margin-right: 0;
    .text-input {
      border: medium none;
      border-radius: 3px;
      font-size: 15px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      width: 254px;
      float: left;
      margin-right: 20px;
    }
    .button-input {
      background-image: linear-gradient(to bottom, #ffde4e 0%, #ffc14f 100%);
      display: block;
      width: 31%;
      max-width: 254px;
      border-radius: 5px;
      color: #3e3e3e;
      font-weight: bold;
      padding: 15px 10px;
      font-size: 1.6rem;
      text-align: center;
      line-height: 1;
      transition: all 0.4s ease 0s;
      border: none;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.text-center {
  text-align: center;
}
.advantages-clinic {
  padding: 30px 0;
  h2 {
    background: url(../images/tooth.png) no-repeat;
    font-size: 30px;
    min-height: 37px;
    margin: 0 auto;
    display: inline-block;
    padding-left: 40px;

  }
  .advantages-description {
    padding-top: 40px;
    span {
      color: #0095b9;
      font-weight: bold;
      text-transform: uppercase;
    }

    img {
      margin: 0 0 10px 10px;
      float: right;
      vertical-align: top;
    }
  }
}

.clinic-services {
  border-top: 1px dashed #e6e6e6;
  padding-top: 30px;
  h2 {
    background: url(../images/akcia.png) no-repeat scroll left center;
    font-size: 30px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    max-width: 580px;
    margin: 0 auto;
  }
  .all-shares-button {
    height: 43px;
    left: 55%;
    line-height: 43px;
    margin-left: 224px;
    margin-top: -39px;
    position: absolute;
    text-align: center;
    width: 113px;
    a {
      transition: all 0.4s ease 0s;
      border: 1px solid $aqua-color;
      border-radius: 6px;
      color: $aqua-color;
      display: block;
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $white;
        background-color: $aqua-color;
      }
    }
  }
  .clinic-services-inside {
    @include clearfix();
    padding: 30px 0;
    @include span(10);
    @include push(1);
    .service {
      @include span(4);
      &-inside {
        max-width: 232px;
        background: url(../images/figura16s.png) no-repeat scroll 0 0;
        height: 286px;
        border-radius: 6px;
        margin: 0 auto;
      }
      &-image {
        padding: 7px;
        padding-bottom: 0;
        img {
          border-radius: 6px;
          width: 100%;
        }
      }
      &-description {
        color: #3d3d3d;
        font-size: 14px;
        font-weight: bold;
        padding: 6px 10px 0;
        text-align: center;
      }
    }
    .discount-service {
      margin-right: 0;
      cursor: pointer;
      .discount-service-inside {
        max-width: 232px;
        background: url(../images/figura16.png) no-repeat scroll 0 0;
        margin: 0 auto;
        height: 286px;
        border-radius: 6px;
      }
      .discount {
        &-header {
          font-size: 24px;
          font-weight: 500;
          height: 55px;
          line-height: 1.2;
          padding: 9px 20px 0;
          text-align: center;
          span {
            color: #000;
          }
        }
        &-content {
          color: #3d3d3d;
          font-size: 24px;
          font-weight: bold;
          height: 53px;
          margin-top: 112px;
          text-align: center;
          text-transform: uppercase;
        }
        &-footer {
          font-size: 12px;
          padding: 6px 10px 0;
          text-align: justify;
        }
      }
    }
  }
}

.contact-info {
  @include linear-gradient-b(to right, rgba(50, 161, 206, 1) 0%, rgba(137, 227, 236, 1) 100%);
  padding: 20px 0;
  .contact-info-title {
    color: #00adca;
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
  }
  .contact-info-inside {
    @include clearfix();
    background: #fdfdfd no-repeat;
    border-radius: 6px;
    .contact-info-blocks {
      @include clearfix();
      padding: 20px 20px 15px;

      .phone {
        @include span(4);
        .phone-text {
          font-size: 14px;
          padding-left: 20px;
          padding-top: 4px;
        }
        .phone-number {
          background: url(../images/phone.png) no-repeat scroll left center;
          color: #00adca;
          font-size: 24px;
          font-weight: bold;
          height: 35px;
          line-height: 35px;
          margin-top: 10px;
          padding-left: 26px;
        }

      }
      .call {
        @include span(5);
        .call-text {

        }
        .call-info {
          background: url(../images/obr.zvonok.png) no-repeat scroll left center;
          height: 35px;
          line-height: 35px;
          margin-left: 59px;
          margin-top: 9px;
          padding-left: 37px;
          a {
            border-bottom: 1px dashed #00adca;
            color: #00adca;
            font-size: 21px;
            font-weight: bold;
            text-decoration: none;
            transition: all 0.4s ease 0s;
            &:hover {
              color: #000;
              border-bottom: 1px dashed #000;
            }
          }
        }
      }
      .receive-letter {
        @include span(3);
        margin-right: 0;
        margin-top: -12px;
        .receive-text {
          text-align: center;
          line-height: 1.1;
        }
        .receive-button {
          line-height: 52px;
          margin-top: 4px;
          text-align: center;
          .button-gold {
            width: 80%;
            display: block;
            margin: 0 auto;
            max-width: 190px;
          }
          a:before {
            content: '';
            background: url(../images/galka.png) no-repeat;
            width: 20px;
            height: 22px;
            float: left;
          }
        }
      }
    }
  }
}

.footer-menu {
  .header-nav {
    .primary_nav_wrap ul li {
      padding: 0 9px;
    }
    .primary_nav_wrap ul li:hover {
      border-radius: 0;
      background: none;
    }

    .primary_nav_wrap ul li a:hover {
      border-bottom: 1px dashed $aqua-color;
      color: $aqua-color;
    }
  }
}

.footer-copyright {
  border-top: 1px dashed #e6e6e6;
  padding-top: 30px;
  padding-bottom: 60px;
  .copyright-left-side {
    float: left;
  }
  .copyright-right-side {
    float: right;
  }
}

/*
SLIDER
*/

#owl-demo .item img {
  display: block;
  width: 1903px;
  height: 541px;
}

.owl-theme .owl-controls {
  position: absolute;
  right: 16px;
  bottom: 0;
  width: 100px;
  height: 30px;

  .owl-page {
    display: none;
  }
  .active {
    display: inline-block;
  }
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
  width: 5px;
  background: none;
  color: #FFFFFF;
  padding: 2px 0;

}

.owl-wrapper {
  position: relative;
}

.owl-pagination {
  position: absolute;
  right: 0;
  top: -3px;
  bottom: 0;
  height: 27px;
  text-align: right;

}

.owl-prev {
  margin-left: -15px;
}

.item {
  position: relative;
  img {
    height: 541px;
  }
}

.desc-slider {

  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -380px;
  text-align: center;
  padding: 40px 70px;
  background: rgba(255, 255, 255, .5);
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #353535;
  }
  h2, p {
    margin-bottom: 15px;
  }
  p {
    font-size: 17px;
    font-weight: 400;
  }
  a {
    padding: 19px 38px;
    font-family: 'Roboto Black';
    font-size: 13px;
    margin-left: 30px;
    color: #fff;
    background: #6d9aee;
    text-transform: uppercase;

    @include transition(background .7s ease);
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background: #a4c0f4;
      @include transition(background .7s ease);
    }
  }
}

/*
 multiple-slider
 */
.multislider {
  width: 100%;
}

.owl-pagination {
  display: block;
  color: #FFFFFF;
  font-family: 'sans-serif';
  font-size: 20px;

}

#owl-demo-bottom .item-bottom-slider img {
  width: 100%;
  height: auto;
  max-width: 460px;
  margin: 0 auto;
}

.img-price {
  width: 50%;
  float: right;
  margin-right: 0;
  overflow: hidden;
  img {
    width: 960px;
    height: 398px;
  }
}

.position-slider-bottom {
  @include span(5);
  margin: 5% 2% 0 6%;
  .bottom-slider-numbers {
    @include span(8);
    float: right;
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
    }
    a {
      margin-top: 30px;
      padding: 15px 25px;
      background: #6d9aee;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #6d9aee;

      @include transition(background .7s ease);
      &:hover {
        background: #a4c0f4;
        @include transition(background .7s ease);
      }
    }
  }
}

.bottom-arrow-left {
  float: left;
  margin-right: 20px;
}

.owl-buttons {
  @include clearfix();
}

.slider-and-price-image {
  @include clearfix();
}

.owl-demo-bottom {
  .owl-prev {
    margin-top: 10px;
  }
}

.slideshow {
  position: relative;
}

.slideshow img {
  display: none;
}

.slideshow img.visible-image {
  display: block;
}

.image-item {
  @include span(6);
  @include clearfix();
  position: relative;
  .select-image {
    position: absolute;
    z-index: 9999;
    top: 77%;
    left: 40%;
    button{
      border: none;
      background-color: inherit;
      color: #000;
      text-shadow: none;
      font-weight: bold;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 5px;
      &.active{
        color: #fff;
        background: #22a3c3;
      }
    }
  }
}

.item-content {
  @include span(6);
  &:last-child {
    margin-right: 0;
  }
  h2 {
    color: #0095b9;
    font-size: 30px;
    line-height: 1;
  }
}

/*finish slider*/

/*adults-dentistry page start*/

.adults-dentistry {
  padding-top: 30px;
  h1 {
    font-size: 48px;
    margin-bottom: 15px;
  }
  &#prosthetics {
    h2 {
      font-size: 30px;
    }
    .all-offers {
      @include clearfix();
    }
    .all-persons {
      @include clearfix();
      margin-top: 25px;
      text-align: center;

    }
  }
  .discount-button {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    a:after {
      content: '';
      background: url("../images/check-round.png") no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      margin-left: 12px;

    }
    .button-gold {
      max-width: 350px;
      margin: 0 auto;
      display: block;

    }

  }
  .adults-dentistry-offers {
    @include clearfix();
    padding: 37px 0;
    .offer {
      @include gallery(3);
      border: 1px solid #ededed;
      border-radius: 6px;
      margin-bottom: 8px;
      &:nth-child(4n) {
        margin-right: 0;
      }

      .offer-description {
        text-align: center;
        .about-person {
          padding: 5px 0;
          span {
            font-size: 18px;
            min-height: 54px;
            display: block;
          }
        }
        .offer-title {
          font-size: 18px;
          padding: 15px 0 5px;
          span {
            min-height: 54px;
            display: block;

          }

          &:after {
            border-bottom: 3px solid #69dce9;
            content: '';
            width: 150px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.show-offer {
  position: relative;
  a {
    color: #69dce9;
  }
  &:before {
    content: '\f105';
    color: #69dce9;
    font-family: FontAwesome;
    font-weight: bold;
    font-size: larger;
    padding: 7px;

  }
  &:hover:before {
    content: '\f107';
    font-family: FontAwesome;
    font-size: larger;
    padding: 7px;
  }
}

.list-to-show {
  text-align: left;
  left: 0;
  display: none;
  position: absolute;
  top: 21px;
  z-index: 1;
  background-color: $white;
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
  ul {
    margin-left: 0;
    li {
      a {
        color: #69dce9;
      }
    }
  }
  .hide:after {
    content: '✖';
    font-size: 17px;
    position: absolute;
    top: 0;
    right: 15px;
    color: #69dce9;
  }
}

.list-to-show li {
  float: none;
  width: 100%;
  list-style: none;
  text-decoration: underline;
}

.hover-image-wrap {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
  img {
    text-align: left;
    width: 100%;
    height: auto;
  }
  .hover-image-link {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    background-color: rgba(74, 214, 222, 0.75);
    transition: all 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    a {
      color: $white;
      display: block;
      font-size: 18px;
      text-transform: lowercase;
      padding-top: 40%;
      width: 100%;
      height: 100%;
    }
  }

}

.hover-image-wrap:hover .hover-image-link {
  visibility: visible;
  opacity: 1;
}

.save-with-us {
  padding-top: 50px;
  padding-bottom: 20px;
  h2 {
    font-size: 30px;
  }
  .save-offer {
    @include clearfix();
    padding: 25px 0 60px;

    .save-offer-inside {
      @include linear-gradient-b(to bottom, rgba(0, 195, 218, 1) 0%, rgba(0, 151, 187, 1) 100%);
      width: 18.4%;
      float: left;
      margin-right: 1.9607843137%;
      text-align: center;
      color: $white;
      padding: 15px;
      border-radius: 6px;
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.about {
  border-top: 1px dashed #e6e6e6;
  min-height: 275px;
}

/*adults-dentistry page end*/

/****Start prosthetics page*********/

.prosthetics {
  border-bottom: 1px dashed #e6e6e6;
  padding-top: 30px;
  padding-bottom: 35px;
  h1 {
    font-size: 48px;
  }
  .prosthetics-description {
    @include span(8);
    text-align: justify;
    .select-options {
      @include clearfix();
      .button-aqua {
        padding: 5px;
      }
      ul {
        margin: 0;
        li {
          @include transition(all .5s ease);
          display: inline-block;

          a {
            @include transition(all .5s ease);
            display: block;
            padding: 5px;
            border-radius: 5px;
            margin-right: 30px;
            &:hover {
              @include transition(all .5s ease);
              background-color: $aqua-color;
              color: #fff !important;
              &:before {
                @include transition(all .5s ease);
                content: '';
                background: url("../images/check-round.png") no-repeat;
                width: 20px;
                height: 20px;
                float: left;
                margin-top: 3px;
              }
            }
            &:before {
              @include transition(all .5s ease);
              content: '';
              background: url("../images/check.png") no-repeat;
              width: 20px;
              height: 20px;
              float: left;
              margin-top: 3px;
            }
          }
        }
      }
    }
  }
  .prosthetics-imagw {
    @include span(4);
    margin-right: 0;
    float: right;
    img {
      width: 100%;
    }
    .button-above {
      margin: 0 auto;
      width: 190px;
      margin-top: 20px;
    }
  }
}

.description {
  padding: 30px;
  padding-top: 50px;
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
  }
  .description-blocs {
    @include clearfix();
    .blocs {
      @include clearfix();
      border: 1px solid $aqua-color;
      margin-bottom: 10px;
      padding: 10px;
      .bloc-image {
        @include span(3);
        img {
          margin: 0 auto;
          display: block;
          width: 100%;
        }
      }
      .bloc-content {
        @include span(6);
        text-align: left;
        p {
          text-align: justify;
        }
        .button-bloc-content {
          float: right;
          margin-top: -30px;
        }
      }
      .button-description {
        @include span(3);
        margin-right: 0;

        padding: 50px 0;
        a {
          display: block;
          width: 150px;
          height: 45px;
          margin: 0 auto;
        }
      }
    }
  }
}

.patients-comments {
  padding-top: 30px;
  h2 {
    font-size: 30px;
  }
  .patients-comments-inside {
    padding: 30px 0;
    .all-comments {
      @include clearfix();
    }
    .live-comment {
      text-align: center;
      margin: 20px 0 10px;
      .button-aqua-bold {
        margin-right: 15px;
      }
    }
  }
  #owl-demo-prosthetics-v2 {
    .owl-controls {
      top: -40px;
      width: 60px;
      right: -18px;
    }
  }
  .patient {
    border: 1px solid $aqua-color;
    padding: 10px;
    border-radius: 15px;

    .author-date {
      @include clearfix();
      .author {
        float: left;
        color: $aqua-color;
      }
      .date {
        float: right;
      }
    }
  }
}

/******Modal style*******/
.modal-example-content {
  width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0 none;
}

.modal-example-header {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 15px;
  padding-bottom: 35px;
}

.modal-example-header h4 {
  margin: 0;
  font-size: 18px;
  float: left;
}

.modal-example-body {
  padding: 20px;
  text-align: initial;
}

button.close-modal {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close-modal {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20);
}

/***end modal ***/

/********end prosthetics page*******/

/*Start Responsive*/
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1155px) {
  .wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }
  .main-header .primary_nav_wrap {
    display: none;
  }
  .header-nav #mobile-header {
    display: block;
    float: right;
  }
  .sidr ul li ul {
    display: none;
  }
  .footer-menu .header-nav {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {

  .brad-cramps {
    display: none;
  }
  .appointments .appointments-form-input .text-input {
    margin-bottom: 10px;
    float: none;
    margin-right: inherit;
  }
  .appointments .appointments-form-input .button-input {
    width: 100%;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .prosthetics .prosthetics-description .select-options ul li {
    a {
      margin-right: 0;
    }

  }
  .prosthesis-examples #owl-demo-prosthetics-v1 .owl-controls {
    left: inherit;

  }
  .prosthesis-examples #owl-demo-prosthetics-v1 .image-item {
    margin-bottom: 50px;
  }
  .description .description-blocs .blocs .bloc-image {
    @include span(12);
  }
  .description .description-blocs .blocs .bloc-content {
    @include span(12);
  }
  .description .description-blocs .blocs .button-description {
    @include span(12);
    padding: 20px 0;
  }

  .cermet-advantages .description {
    padding: 20px 0;
  }
  .cermet-advantages .description .button {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .popular-cermet .cermet-part {
    @include span(12);
  }
  .image-item {
    width: 100%;
    img {
      margin: 0 auto;
    }
  }
  .item-content {
    width: 100%;
    margin: 30px 0;

  }
  .adults-dentistry .adults-dentistry-offers .offer {
    @include gallery(4);
  }
  .clinic-services .clinic-services-inside {
    margin: 0;
    width: 100%;
  }
  .contact-info .contact-info-inside .contact-info-blocks .phone {
    @include span(6);
  }
  .contact-info .contact-info-inside .contact-info-blocks .call {
    @include span(6);
    margin-right: 0;
  }
  .contact-info .contact-info-inside .contact-info-blocks .receive-letter {
    @include span(12);
    margin-top: 30px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .clinic-services .all-shares-button {
    position: relative;
    left: inherit;
    margin: 0 auto;
  }
  .appointments .appointments-form-input .button-input {
    margin: 0 auto;
  }
  .item-content {
    margin-bottom: 30px;
  }
  .cermet-advantages .description .image {
    @include span(12);
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .cermet-advantages .description .text {
    @include span(12);
  }
  .appointments .appointments-text {
    @include span(12);
    text-align: center;
    margin-top: 10px;
  }
  .appointments .appointments-form-input {
    @include span(12);
    text-align: center;
    margin-top: 15px;
  }
  .methods-prosthesis .first-method .method-description img,
  .methods-prosthesis .last-method .method-description img,
  .advantages-clinic .advantages-description img {
    display: block;
    margin: 0 auto;
    float: none;
  }
  .cermet .description-inside .text {
    @include span(12);
  }
  .cermet .description-inside .image {
    display: none;
  }

}

@media only screen and (max-width: 720px) {
  .clinic-services, .contact-info {
    display: none;
  }
  .main-header .header-logo {
    @include span(6);
  }
  .main-header .header-address {
    display: none;
  }
  .main-header .header-phone {
    @include span(6);
    float: right;
    margin-right: 0;
  }

}

@media only screen and (max-width: 640px) {
  .cermet,
  .cermet-advantages,
  .popular-cermet,
  .prosthesis-types,
  .item-content,
  .methods-prosthesis,
  .advantages-clinic,
  .adults-dentistry,
  .save-with-us,
  .about,
  .prosthetics,
  .description-inside,
  .patients-comments {
    h1, h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .prosthetics .prosthetics-description {
    @include span(12);
  }
  .prosthetics .prosthetics-imagw {
    @include span(12);
    img {
      display: none;
    }
  }
  .description .description-blocs .blocs .bloc-content .button-bloc-content {
    margin-top: 0;
  }
  .prosthesis-types .type-list {
    margin-bottom: 20px;
    ul {
      margin: 0;
    }
  }
  .popular-cermet .cermet-part {
    padding: 0;
  }
  .popular-cermet .cermet-part .cermet-left {
    @include span(12);
    text-align: center;
  }
  .popular-cermet .cermet-part .cermet-right {
    @include span(12);
    img {
      width: 100%;
    }
  }
  .cermet .description {
    padding: 10px;
  }
  .adults-dentistry .adults-dentistry-offers .offer {
    @include gallery(6);
  }
  .save-with-us .save-offer .save-offer-inside {
    width: 100%;
    margin-bottom: 15px;
  }
  .methods-prosthesis .first-method .method-description img,
  .methods-prosthesis .last-method .method-description img,
  .advantages-clinic .advantages-description img {
    width: 100%;
  }
  .footer-copyright .copyright-left-side {
    float: none;
    text-align: center;
  }
  .footer-copyright .copyright-right-side {
    float: none;
    text-align: center;
  }
  .footer-copyright {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  #contact-area {
    label {
      width: 100%;
      display: block;
      margin: 5px 0;
    }
    input.submit-button {
      display: block;
      margin-top: 10px;
    }
  }
  .description {
    padding: 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .adults-dentistry#prosthetics .all-persons{
    .button-aqua-bold{
      font-size: 14px;
      display: block;
      line-height: 1.1;
      max-width: 320px;
      margin: 0 auto;
    }
  }
  .adults-dentistry .discount-button .button-gold{
    font-size: 14px;
  }
  .prosthetics .prosthetics-description .select-options {
    margin-bottom: 20px;
    ul li {
      list-style: none;
      display: block;
      float: left;
      width: 72%;
      max-width: 153px;
      margin: 4px 0;
      margin-right: 10px;
    }
  }

  .patients-comments .patients-comments-inside .live-comment {
    .button-aqua-bold {
      margin-bottom: 20px;
      width: 100%;
      display: block;
      height: 45px;
      line-height: initial;

    }
    .button-aqua-dots {
      max-width: 175px;
      margin: 0 auto;
      width: 100%;
      display: block;

    }

  }
  #owl-demo-prosthetics-v1 .image-item img {
    width: 100%;
  }
  .main-header .header-logo {
    @include span(12);
    img {
      margin: 0 auto;
    }
  }
  .main-header .header-phone {
    @include span(12);
    text-align: center;
  }
  .main-header .header-phone .phone-link {
    display: none;
  }
  .main-header .header-phone .phone-number {
    float: none;
    margin: 0 auto;
    width: 250px;
    padding-left: 0;

  }
  .cermet-advantages .advantages-list-inside ul {
    margin: 0 0 1.5em 1em;
  }
  .adults-dentistry .adults-dentistry-offers .offer {
    @include gallery(12);
    float: none;
  }
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-nav #mobile-header {
    padding-right: 20px;
  }
}
@media only screen and (max-width: 365px) {
  .prosthetics .prosthetics-description .select-options ul li{
    width: 100% !important;
    max-width: 350px!important;
  }

}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-nav #mobile-header {
    padding-right: 10px;
  }
}

@media print {
  footer, header, .advantages-clinic, .appointments, .methods-prosthesis, .prosthesis-examples, .prosthesis-types,
  .popular-cermet, .cermet-advantages, .cermet, .brad-cramps, .slide,
  .clinic-services .all-shares-button, .clinic-services .service, .clinic-services h2{
    display: none;
  }
  
  .clinic-services .discount-service.service {
    display: block;
  }

}
